{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="rosa-double{% if section.settings.is_reverse %} reverse{% endif %} section-{{ section.id }}-padding">
    <div class="rosa-double-info">
        <div class="rosa-double-info-inner {% if section.settings.is_centred %} centred{% endif %}">

          {%- for block in section.blocks -%}
            {% case block.type %}
              {%- when 'heading' -%}
                <div class="rosa-double-info-text1">{{ block.settings.heading1 }}</div>
                <div class="rosa-double-info-text2">{{ block.settings.heading2 }}</div>
              {%- when 'text' -%}
                <div class="rosa-double-info-text3">{{ block.settings.text }}</div>
              {%- when 'item' -%}
                {% if block.settings.url %}
                  <a href="{{ block.settings.url }}" class="rosa-double-info-list-item">
                      <img src="{{ block.settings.image | img_url: 'width 20' }}" alt="" class="rosa-double-info-list-item-pic">
                      <div class="rosa-double-info-list-item-link">{{ block.settings.text }}</div>
                  </a>
                {% else %}
                  <div class="rosa-double-info-list-item">
                      <img src="{{ block.settings.image | img_url: 'width 20' }}" alt="" class="rosa-double-info-list-item-pic">
                      <div class="rosa-double-info-list-item-link">{{ block.settings.text }}</div>
                  </div>
                {% endif %}
              {%- when 'accordion' -%}
                <div class="rosa-double-accordion">
                  <div class="rosa-double-accordion-header">
                    <div class="rosa-double-accordion-header-title">{{ block.settings.title }}</div>
                    <svg class="plus" xmlns="http://www.w3.org/2000/svg" width="13" height="28" viewBox="0 0 13 28">
                      <text id="Typography" transform="translate(0 22)" font-size="21" font-family="NotoSans-Bold, Noto Sans" font-weight="700"><tspan x="0" y="0">+</tspan></text>
                    </svg>
                    <svg class="minus" xmlns="http://www.w3.org/2000/svg" width="7" height="28" viewBox="0 0 7 28">
                      <text id="Typography" transform="translate(0 22)" font-size="21" font-family="NotoSans-Bold, Noto Sans" font-weight="700"><tspan x="0" y="0">-</tspan></text>
                    </svg>
                  </div>
                  <div class="rosa-double-accordion-header-text">{{ block.settings.text }}</div>
                </div>
              {%- when 'link' -%}
                <a href="{{ block.settings.link_url }}" class="rosa-double-info-link">{{ block.settings.link_text }}</a>
            {%- endcase -%}
          {%- endfor -%}

        </div>
    </div>
    <div class="rosa-double-pic">
      <img src="{{ section.settings.image | img_url: '1500x1600', crop: 'center' }}" alt="" loading="lazy">
    </div>
</section>

{% schema %}
{
  "name": "rosa image this text",
  "presets": [
    {
      "name": "rosa image this text",
      "category": "Custom"
    }
  ],
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "image"
    },
    {
      "type": "checkbox",
      "id": "is_reverse",
      "default": false,
      "label": "reverse block"
    },
    {
      "type": "checkbox",
      "id": "is_centred",
      "default": false,
      "label": "center content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 45
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 45
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "heading",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading1",
          "default": "Image with text",
          "label": "heading 1"
        },
        {
          "type": "inline_richtext",
          "id": "heading2",
          "default": "Image with text",
          "label": "heading 2"
        }
      ]
    },
    {
      "type": "text",
      "name": "text",
      "limit": 2,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>text</p>",
          "label": "text"
        }
      ]
    },
    {
      "type": "item",
      "name": "item with picture",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "image"
        },
        {
          "type": "text",
          "id": "text",
          "default": "text",
          "label": "text"
        },
        {
          "type": "url",
          "id": "url",
          "default": "/",
          "label": "url"
        }
      ]
    },
    {
      "type": "accordion",
      "name": "accordion item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "title",
          "label": "title"
        },
        {
          "type": "text",
          "id": "text",
          "default": "text",
          "label": "text"
        }
      ]
    },
    {
      "type": "link",
      "name": "link",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "link_text",
          "default": "link text",
          "label": "link text"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "link url"
        }
      ]
    }
  ]
}

{% endschema %}
