<footer class="rosa-footer">
    <a href="" class="rosa-footer-logo">
        <svg id="Calque_1-2" xmlns="http://www.w3.org/2000/svg" width="289" height="32.938" viewBox="0 0 289 32.938">
          <path id="Tracé_44" data-name="Tracé 44" d="M142.4,28.684h-1.6a16.142,16.142,0,0,0-3.939-4.607c-3.672-3-3.672-5.588-3.672-6.434a4.651,4.651,0,0,1,8.413-2.736,4.651,4.651,0,0,1,8.413,2.736c0,.856,0,3.431-3.645,6.416a16.319,16.319,0,0,0-3.966,4.634Zm-4.554-13.92a2.873,2.873,0,0,0-2.87,2.87c0,.642,0,2.584,3,5.044a19.256,19.256,0,0,1,3.627,3.859,19.554,19.554,0,0,1,3.654-3.886c2.977-2.433,2.977-4.376,2.977-5.017a2.87,2.87,0,1,0-5.739-.009h-1.782a2.868,2.868,0,0,0-2.87-2.87Z" transform="translate(-14.494 -1.414)"/>
          <path id="Tracé_45" data-name="Tracé 45" d="M140.841,33.4a14.571,14.571,0,1,1,14.571-14.571A14.582,14.582,0,0,1,140.841,33.4Zm0-27.359a12.788,12.788,0,1,0,12.788,12.788A12.806,12.806,0,0,0,140.841,6.042Z" transform="translate(-13.741 -0.464)"/>
          <rect id="Rectangle_20" data-name="Rectangle 20" width="1.782" height="6.853" transform="matrix(0.865, -0.502, 0.502, 0.865, 119.539, 6.998)"/>
          <rect id="Rectangle_21" data-name="Rectangle 21" width="6.818" height="1.782" transform="translate(129.767 12.03) rotate(-59.9)"/>
          <rect id="Rectangle_22" data-name="Rectangle 22" width="6.586" height="1.782" transform="translate(113.42 17.476)"/>
          <rect id="Rectangle_23" data-name="Rectangle 23" width="1.782" height="8.065" transform="translate(129.118 23.649) rotate(-29.91)"/>
          <rect id="Rectangle_24" data-name="Rectangle 24" width="8.065" height="1.782" transform="translate(119.499 29.74) rotate(-59.9)"/>
          <rect id="Rectangle_25" data-name="Rectangle 25" width="6.506" height="1.782" transform="translate(134.274 17.476)"/>
          <path id="Tracé_46" data-name="Tracé 46" d="M233.519,1.845A1.845,1.845,0,1,1,231.675,0a1.843,1.843,0,0,1,1.845,1.845" transform="translate(-25.011)"/>
          <path id="Tracé_47" data-name="Tracé 47" d="M239.178,1.845A1.849,1.849,0,1,1,237.334,0a1.843,1.843,0,0,1,1.845,1.845" transform="translate(-25.626)"/>
          <path id="Tracé_48" data-name="Tracé 48" d="M20.141,29.741H17.057l-5.285-9.536H2.691v9.536H0V6.82H11.434c3.458,0,9.259.642,9.259,6.568,0,4.955-3.182,6.541-5.864,6.818l5.32,9.536ZM12.53,17.514c3.03,0,5.472-.365,5.472-4.1C18,10.572,15.5,9.5,13.02,9.5H2.691v8.012H12.53Z" transform="translate(0 -0.742)"/>
          <path id="Tracé_49" data-name="Tracé 49" d="M41.506,6.14A12.086,12.086,0,0,1,53.822,18.091,12.086,12.086,0,0,1,41.506,30.041,12.086,12.086,0,0,1,29.19,18.091,12.069,12.069,0,0,1,41.506,6.14m0,21.21a9.36,9.36,0,0,0,9.625-9.259,9.36,9.36,0,0,0-9.625-9.259,9.36,9.36,0,0,0-9.625,9.259,9.36,9.36,0,0,0,9.625,9.259" transform="translate(-3.177 -0.668)"/>
          <path id="Tracé_50" data-name="Tracé 50" d="M75.387,16.1c4.278,0,8.618,1.56,8.618,6.63s-5.32,7.308-10.944,7.308c-6.969,0-10.115-3.485-11.461-4.919l1.925-1.9c1.408,1.257,3.7,4.126,9.625,4.126,5.169,0,8.163-1.961,8.163-4.616,0-2.87-2.905-3.939-5.2-3.939h-4.83c-4.429,0-8.012-1.47-8.012-5.748,0-3.182,2.879-6.907,9.9-6.907a15.293,15.293,0,0,1,9.6,3.36L81.09,11.612a12.823,12.823,0,0,0-7.976-2.78c-5.169,0-7.156,2.415-7.156,4.215,0,3.057,3.886,3.057,6.63,3.057h2.78Z" transform="translate(-6.703 -0.668)"/>
          <path id="Tracé_51" data-name="Tracé 51" d="M113.679,30.45h-2.994L106.96,22.6H95.954L92.344,30.45H89.35L100.258,7.52h2.691ZM101.6,10.8,97.29,19.907h8.466L101.6,10.8Z" transform="translate(-9.723 -0.818)"/>
          <path id="Tracé_52" data-name="Tracé 52" d="M191.7,30.4h-2.682V12.888h-.062l-8.439,15.6-8.439-15.6h-.053V30.4H169.34V7.55h2.682L180.515,23l8.5-15.453H191.7Z" transform="translate(-18.428 -0.822)"/>
          <path id="Tracé_53" data-name="Tracé 53" d="M224.489,30.4H221.5l-3.716-7.833H206.826l-3.6,7.833H200.24L211.121,7.55H213.8L224.5,30.4ZM212.458,10.812l-4.3,9.081H216.6Z" transform="translate(-21.791 -0.822)"/>
          <rect id="Rectangle_26" data-name="Rectangle 26" width="2.682" height="22.85" transform="translate(207.84 6.728)"/>
          <path id="Tracé_54" data-name="Tracé 54" d="M254.5,30.4h-2.682V10.232H243.48V7.55h19.374v2.682H254.5Z" transform="translate(-26.496 -0.822)"/>
          <path id="Tracé_55" data-name="Tracé 55" d="M291.6,30.4H272.16V7.55h18.759v2.682H274.834V17.21h8.475v2.682h-8.475v7.833H291.6Z" transform="translate(-29.617 -0.822)"/>
          <path id="Tracé_56" data-name="Tracé 56" d="M321.328,30.4h-2.985l-3.716-7.833h-10.97l-3.6,7.833H297.07L307.951,7.55h2.682ZM309.3,10.812,305,19.893h8.439Z" transform="translate(-32.328 -0.822)"/>
        </svg>
    </a>
    {% for link in linklists.new-footer.links  %}
      {% if forloop.index == 1 %}
        <div class="rosa-footer-menu1">
            {% for child_link in link.links %}
              <a href="{{ child_link.url }}" class="rosa-footer-menu1-item">{{ child_link.title }}</a>
            {% endfor %}
        </div>
      {% endif %}
      {% if forloop.index == 2 %}
        <div class="rosa-footer-menu2">
            {% for child_link in link.links %}
              <a href="{{ child_link.url }}" class="rosa-footer-menu2-item">{{ child_link.title }}</a>
            {% endfor %}
        </div>
      {% endif %}
    {% endfor %}


    <div class="rosa-footer-menu3">
        <a href="{{ section.settings.contacts_url }}" class="rosa-footer-menu3-item">{{ section.settings.contacts_text }}</a>
        <a href="{{ section.settings.rdv_url }}" class="rosa-footer-menu3-item">{{ section.settings.rdv_text }}</a>
        <div class="rosa-footer-menu3-socials">
            <a href="https://www.facebook.com/RosaMaitea/" class="rosa-footer-menu3-socials-item">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 10.8451V8.05515H8.25V6.65515C8.2287 5.69752 8.58254 4.7695 9.236 4.06915C9.53372 3.72942 9.90132 3.45801 10.3136 3.27351C10.726 3.089 11.1733 2.99576 11.625 3.00015H13.86V5.79015H11.625C11.5446 5.79501 11.4667 5.81952 11.398 5.86154C11.3293 5.90356 11.2719 5.9618 11.231 6.03115C11.1104 6.20444 11.049 6.41211 11.056 6.62315V8.05515H13.856V10.8451H11.056V17.6101H8.25V10.8451H6Z" fill="white"/>
                </svg>
            </a>
            <a href="https://www.instagram.com/rosamaiteajewelry/" class="rosa-footer-menu3-socials-item">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.85125 5.31025C8.95392 5.31025 8.07673 5.57634 7.33063 6.07487C6.58452 6.5734 6.003 7.28199 5.65961 8.11102C5.31621 8.94004 5.22637 9.85228 5.40143 10.7324C5.57649 11.6125 6.0086 12.4209 6.64311 13.0554C7.27762 13.6899 8.08603 14.122 8.96613 14.2971C9.84622 14.4721 10.7585 14.3823 11.5875 14.0389C12.4165 13.6955 13.1251 13.114 13.6236 12.3679C14.1222 11.6218 14.3883 10.7446 14.3883 9.84725C14.3892 9.25118 14.2724 8.6608 14.0448 8.10993C13.8171 7.55905 13.4829 7.05853 13.0614 6.63705C12.64 6.21557 12.1394 5.88141 11.5886 5.65373C11.0377 5.42605 10.4473 5.30933 9.85125 5.31025ZM9.85125 12.7963C9.26821 12.7953 8.69854 12.6215 8.21424 12.2968C7.72994 11.9722 7.35273 11.5113 7.1303 10.9723C6.90786 10.4334 6.85017 9.84059 6.96453 9.26887C7.07888 8.69715 7.36014 8.17216 7.77276 7.76023C8.18538 7.34831 8.71085 7.06794 9.28277 6.95455C9.85468 6.84117 10.4474 6.89986 10.9859 7.12321C11.5245 7.34656 11.9848 7.72454 12.3086 8.20939C12.6324 8.69425 12.8052 9.26421 12.8053 9.84725C12.8037 10.6289 12.4925 11.3781 11.9398 11.9308C11.3871 12.4835 10.6379 12.7947 9.85625 12.7963H9.85125ZM15.6322 5.12425C15.6315 5.33329 15.5688 5.53741 15.4521 5.71085C15.3354 5.88428 15.1699 6.01927 14.9766 6.09876C14.7833 6.17826 14.5707 6.1987 14.3658 6.1575C14.1608 6.11631 13.9727 6.01533 13.8251 5.86731C13.6775 5.71929 13.577 5.53086 13.5364 5.3258C13.4958 5.12075 13.5168 4.90825 13.5969 4.71514C13.6769 4.52204 13.8124 4.35697 13.9861 4.24077C14.1599 4.12457 14.3642 4.06245 14.5732 4.06225C14.7128 4.06185 14.851 4.0891 14.9799 4.14243C15.1088 4.19576 15.2259 4.27411 15.3244 4.37295C15.4229 4.47179 15.5008 4.58917 15.5536 4.71829C15.6064 4.84742 15.6332 4.98473 15.6322 5.12425ZM18.6323 6.19825C18.6618 4.82314 18.1493 3.49158 17.2053 2.49125C16.2035 1.54989 14.8737 1.03711 13.4993 1.06225C12.0383 0.97925 7.65925 0.97925 6.19925 1.06225C4.82458 1.03476 3.49371 1.54622 2.49125 2.48725C1.54784 3.4885 1.03477 4.81983 1.06225 6.19525C0.97925 7.65625 0.97925 12.0352 1.06225 13.4952C1.03294 14.871 1.54627 16.203 2.49125 17.2033C3.49389 18.1445 4.82428 18.6572 6.19925 18.6323C7.66025 18.7153 12.0393 18.7153 13.4993 18.6323C14.8743 18.661 16.2055 18.1477 17.2053 17.2033C18.1471 16.201 18.6599 14.8703 18.6343 13.4952C18.7173 12.0342 18.7173 7.65925 18.6343 6.19525L18.6323 6.19825ZM16.7493 15.0622C16.5991 15.4429 16.3723 15.7886 16.083 16.078C15.7936 16.3673 15.4479 16.5941 15.0673 16.7443C13.9023 17.2063 11.1382 17.0993 9.85125 17.0993C8.56425 17.0993 5.79625 17.1993 4.63525 16.7443C4.2546 16.5941 3.90888 16.3673 3.61953 16.078C3.33019 15.7886 3.1034 15.4429 2.95325 15.0622C2.49125 13.8972 2.59825 11.1332 2.59825 9.84625C2.59825 8.55925 2.49825 5.79125 2.95325 4.63025C3.10352 4.24979 3.33035 3.90425 3.61969 3.61509C3.90903 3.32592 4.2547 3.09929 4.63525 2.94925C5.80025 2.48725 8.56425 2.59425 9.85125 2.59425C11.1382 2.59425 13.9063 2.49425 15.0673 2.94925C15.4479 3.0994 15.7936 3.32619 16.083 3.61553C16.3723 3.90488 16.5991 4.2506 16.7493 4.63125C17.2113 5.79625 17.1043 8.56025 17.1043 9.84725C17.1043 11.1342 17.2113 13.9022 16.7493 15.0622Z" fill="white"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="rosa-footer-copy">
        <div class="rosa-footer-copy-inner container">Copyright © {{ "now" | date: "%Y" }}. All rights reserved.</div>
    </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
            {
                "type": "text",
                "id": "contacts_text",
                "label": "contacts text",
                "default": "NOUS CONTACTER"
            },
            {
                "type": "url",
                "id": "contacts_url",
                "label": "contacts url",
                "default": "/"
            },
            {
                "type": "text",
                "id": "rdv_text",
                "label": "rdv text",
                "default": "PRENDRE RENDEZ-VOUS"
            },
            {
                "type": "url",
                "id": "rdv_url",
                "label": "rdv url",
                "default": "/"
            }
    ]
}
{% endschema %}
