<section>
    <div class="rosa-menu container">
        <div class="rosa-menu-mobile">

            <div class="rosa-menu-nav-item_lang-switcher rosa-menu-mobile-lang js-lang-switcher">
                <span>{{ localization.language.iso_code }}</span>

                <svg xmlns="http://www.w3.org/2000/svg" width="9.079" height="5.191" viewBox="0 0 9.079 5.191">
                  <path id="Icon_ionic-ios-arrow-down" data-name="Icon ionic-ios-arrow-down" d="M10.728,14.873l3.433-3.435a.646.646,0,0,1,.916,0,.654.654,0,0,1,0,.919l-3.89,3.892a.648.648,0,0,1-.895.019L6.377,12.359a.649.649,0,1,1,.916-.919Z" transform="translate(-6.188 -11.246)" fill="#000"/>
                </svg>

                <div class="rosa-menu-nav-item_lang-switcher-menu">
                   <localization-form>
                     {% form 'localization' %}
                       <input type="hidden" name="language_code" value="{{ localization.language.iso_code }}">
                       {% for language in localization.available_languages %}
                         <span data-language="{{ language.iso_code }}"class="language_switcher">{{ language.iso_code }}</span>
                       {% endfor %}
                     {% endform %}
                   </localization-form>
                </div>
            </div>

            <div class="rosa-menu-mobile-header">
                <a href="{{ routes.root_url }}" class="rosa-menu-mobile-header-logo-link">
                    <svg class="rosa-menu-mobile-header-logo" id="Calque_1-2" xmlns="http://www.w3.org/2000/svg" width="290.5" height="33.109" viewBox="0 0 290.5 33.109">
                      <path id="Tracé_44" data-name="Tracé 44" d="M142.444,28.765h-1.6a16.225,16.225,0,0,0-3.959-4.631c-3.691-3.019-3.691-5.617-3.691-6.468a4.675,4.675,0,0,1,8.456-2.75,4.675,4.675,0,0,1,8.456,2.75c0,.86,0,3.449-3.664,6.45a16.4,16.4,0,0,0-3.986,4.658Zm-4.578-13.992a2.888,2.888,0,0,0-2.884,2.884c0,.645,0,2.6,3.019,5.07a19.355,19.355,0,0,1,3.646,3.879,19.656,19.656,0,0,1,3.673-3.906c2.992-2.446,2.992-4.4,2.992-5.043a2.885,2.885,0,1,0-5.769-.009h-1.792a2.883,2.883,0,0,0-2.884-2.884Z" transform="translate(-13.878 -1.354)" fill="#000"/>
                      <path id="Tracé_45" data-name="Tracé 45" d="M140.916,33.553a14.646,14.646,0,1,1,14.646-14.646A14.658,14.658,0,0,1,140.916,33.553Zm0-27.5a12.855,12.855,0,1,0,12.855,12.855A12.872,12.872,0,0,0,140.916,6.052Z" transform="translate(-13.157 -0.444)" fill="#000"/>
                      <rect id="Rectangle_20" data-name="Rectangle 20" width="1.792" height="6.889" transform="matrix(0.865, -0.502, 0.502, 0.865, 120.159, 7.035)" fill="#000"/>
                      <rect id="Rectangle_21" data-name="Rectangle 21" width="6.853" height="1.792" transform="translate(130.441 12.092) rotate(-59.9)" fill="#000"/>
                      <rect id="Rectangle_22" data-name="Rectangle 22" width="6.62" height="1.792" transform="translate(114.009 17.567)" fill="#000"/>
                      <rect id="Rectangle_23" data-name="Rectangle 23" width="1.792" height="8.107" transform="translate(129.789 23.772) rotate(-29.91)" fill="#000"/>
                      <rect id="Rectangle_24" data-name="Rectangle 24" width="8.107" height="1.792" transform="translate(120.12 29.895) rotate(-59.9)" fill="#000"/>
                      <rect id="Rectangle_25" data-name="Rectangle 25" width="6.539" height="1.792" transform="translate(134.971 17.567)" fill="#000"/>
                      <path id="Tracé_46" data-name="Tracé 46" d="M233.539,1.854A1.854,1.854,0,1,1,231.684,0a1.852,1.852,0,0,1,1.854,1.854" transform="translate(-23.948)" fill="#000"/>
                      <path id="Tracé_47" data-name="Tracé 47" d="M239.2,1.854A1.859,1.859,0,1,1,237.343,0,1.852,1.852,0,0,1,239.2,1.854" transform="translate(-24.536)" fill="#000"/>
                      <path id="Tracé_48" data-name="Tracé 48" d="M20.245,29.86h-3.1l-5.312-9.585H2.705V29.86H0V6.82H11.493c3.476,0,9.307.645,9.307,6.6,0,4.981-3.2,6.575-5.894,6.853l5.348,9.585Zm-7.65-12.29c3.046,0,5.5-.367,5.5-4.121,0-2.858-2.517-3.933-5.008-3.933H2.705V17.57Z" transform="translate(0 -0.711)" fill="#000"/>
                      <path id="Tracé_49" data-name="Tracé 49" d="M41.57,6.14A12.149,12.149,0,0,1,53.95,18.153,12.149,12.149,0,0,1,41.57,30.165,12.149,12.149,0,0,1,29.19,18.153,12.132,12.132,0,0,1,41.57,6.14m0,21.32a9.408,9.408,0,0,0,9.675-9.307A9.408,9.408,0,0,0,41.57,8.845,9.408,9.408,0,0,0,31.9,18.153,9.408,9.408,0,0,0,41.57,27.46" transform="translate(-3.042 -0.64)" fill="#000"/>
                      <path id="Tracé_50" data-name="Tracé 50" d="M75.458,16.155c4.3,0,8.662,1.568,8.662,6.665s-5.348,7.346-11,7.346c-7.005,0-10.167-3.5-11.52-4.945l1.935-1.908c1.415,1.263,3.718,4.148,9.675,4.148,5.2,0,8.206-1.971,8.206-4.64,0-2.884-2.92-3.959-5.223-3.959H71.337c-4.452,0-8.053-1.478-8.053-5.778,0-3.2,2.893-6.942,9.952-6.942a15.372,15.372,0,0,1,9.648,3.377L81.191,11.64a12.89,12.89,0,0,0-8.017-2.795c-5.2,0-7.193,2.428-7.193,4.237,0,3.073,3.906,3.073,6.665,3.073H75.44Z" transform="translate(-6.418 -0.64)" fill="#000"/>
                      <path id="Tracé_51" data-name="Tracé 51" d="M113.805,30.569H110.8l-3.744-7.892H95.988L92.36,30.569H89.35L100.315,7.52h2.705ZM101.667,10.817l-4.336,9.155h8.51l-4.174-9.155Z" transform="translate(-9.31 -0.784)" fill="#000"/>
                      <path id="Tracé_52" data-name="Tracé 52" d="M191.816,30.518h-2.7v-17.6h-.063l-8.483,15.677L172.09,12.916h-.054v17.6h-2.7V7.55h2.7l8.537,15.533L189.119,7.55h2.7Z" transform="translate(-17.645 -0.787)" fill="#000"/>
                      <path id="Tracé_53" data-name="Tracé 53" d="M224.615,30.518h-3l-3.736-7.874H206.86l-3.619,7.874h-3L211.178,7.55h2.7l10.75,22.968Zm-12.093-19.69L208.2,19.957h8.483Z" transform="translate(-20.864 -0.787)" fill="#000"/>
                      <rect id="Rectangle_26" data-name="Rectangle 26" width="2.696" height="22.968" transform="translate(208.919 6.763)" fill="#000"/>
                      <path id="Tracé_54" data-name="Tracé 54" d="M254.561,30.518h-2.7V10.246H243.48V7.55h19.475v2.7h-8.394Z" transform="translate(-25.37 -0.787)" fill="#000"/>
                      <path id="Tracé_55" data-name="Tracé 55" d="M291.7,30.518H272.16V7.55h18.857v2.7H274.847v7.014h8.519v2.7h-8.519v7.874H291.7Z" transform="translate(-28.358 -0.787)" fill="#000"/>
                      <path id="Tracé_56" data-name="Tracé 56" d="M321.454,30.518h-3l-3.736-7.874H303.69l-3.619,7.874h-3L308.008,7.55h2.7ZM309.36,10.829l-4.318,9.128h8.483Z" transform="translate(-30.954 -0.787)" fill="#000"/>
                    </svg>
                </a>

                <svg class="rosa-menu-mobile-header-close" xmlns="http://www.w3.org/2000/svg" width="20.484" height="20.479" viewBox="0 0 20.484 20.479">
                  <path id="Icon_ionic-ios-close" data-name="Icon ionic-ios-close" d="M23.954,21.528l7.316-7.316a1.714,1.714,0,1,0-2.424-2.424L21.53,19.1l-7.316-7.316a1.714,1.714,0,1,0-2.424,2.424l7.316,7.316-7.316,7.316a1.714,1.714,0,1,0,2.424,2.424l7.316-7.316,7.316,7.316a1.714,1.714,0,1,0,2.424-2.424Z" transform="translate(-11.285 -11.289)"/>
                </svg>
            </div>
            <a href="{{ routes.cart_url }}" class="rosa-menu-mobile-cart">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16.815" height="20.479" viewBox="0 0 16.815 20.479">
                  <defs>
                    <clipPath id="clip-path">
                      <rect id="Rectangle_177" data-name="Rectangle 177" width="16.815" height="20.479"/>
                    </clipPath>
                  </defs>
                  <g id="Groupe_296" data-name="Groupe 296" transform="translate(0 0)">
                    <g id="Groupe_295" data-name="Groupe 295" transform="translate(0 0)" clip-path="url(#clip-path)">
                      <path id="Tracé_234" data-name="Tracé 234" d="M16.3,9.394A2.1,2.1,0,0,0,14.185,7.28H13.95C13.762,3.241,11.367,0,8.454,0s-5.308,3.241-5.5,7.327H2.677A2.1,2.1,0,0,0,.564,9.394c0,.188-.423,5.589-.564,7.656a3.448,3.448,0,0,0,3.429,3.429h9.958A3.458,3.458,0,0,0,16.815,17c-.094-2.067-.517-7.421-.517-7.609M8.454,1.033c2.348,0,4.321,2.818,4.462,6.341-1.409.094-3.617.188-4.368.188-.7,0-3.053-.094-4.556-.188.141-3.523,2.114-6.341,4.462-6.341M2.677,8.314c.188,0,4.791.235,5.871.235,1.174,0,5.5-.235,5.683-.235a1.063,1.063,0,0,1,1.08,1.08s0,.047.094.986c0,.658-2.4,2.161-6.388,2.255v-.282a.517.517,0,0,0-1.033,0v.282C3.992,12.494,1.6,11.038,1.6,10.38c.094-.939.094-.986.094-.986a1.014,1.014,0,0,1,.986-1.08M13.433,19.445H3.476a2.406,2.406,0,0,1-2.4-2.4c.188-2.442.329-4.086.423-5.214a11.716,11.716,0,0,0,6.482,1.785v.235a.517.517,0,1,0,1.033,0v-.235A11.989,11.989,0,0,0,15.5,11.836c.094,1.127.235,2.771.423,5.167a2.5,2.5,0,0,1-2.489,2.442" transform="translate(0 0)"/>
                    </g>
                  </g>
                </svg>

                <span>{{ 'templates.cart.cart' | t }} ({{ cart.item_count }})</span>
            </a>
            <a href="{{ section.settings.fav_url }}" class="rosa-menu-mobile-cart">

                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.3182 3C13.5045 3 11.9275 3.82024 11 5.19482C10.0725 3.82024 8.49545 3 6.68182 3C5.30801 3.0016 3.99092 3.54965 3.01949 4.5239C2.04805 5.49816 1.5016 6.81908 1.5 8.19689C1.5 10.726 3.07182 13.3583 6.17227 16.0191C7.593 17.2332 9.12765 18.3065 10.7547 19.2238C10.8301 19.2644 10.9144 19.2857 11 19.2857C11.0856 19.2857 11.1699 19.2644 11.2453 19.2238C12.8724 18.3065 14.407 17.2332 15.8277 16.0191C18.9282 13.3583 20.5 10.726 20.5 8.19689C20.4984 6.81908 19.9519 5.49816 18.9805 4.5239C18.0091 3.54965 16.692 3.0016 15.3182 3ZM11 18.1671C9.58277 17.3469 2.53636 13.0231 2.53636 8.19689C2.53751 7.0946 2.97463 6.03779 3.7518 5.25835C4.52898 4.47891 5.58273 4.04052 6.68182 4.03938C8.43327 4.03938 9.90405 4.97741 10.5207 6.48798C10.5597 6.58329 10.6261 6.66482 10.7115 6.72219C10.7968 6.77957 10.8973 6.8102 11 6.8102C11.1027 6.8102 11.2032 6.77957 11.2885 6.72219C11.3739 6.66482 11.4403 6.58329 11.4793 6.48798C12.096 4.97741 13.5667 4.03938 15.3182 4.03938C16.4173 4.04052 17.471 4.47891 18.2482 5.25835C19.0254 6.03779 19.4625 7.0946 19.4636 8.19689C19.4636 13.0231 12.4172 17.3469 11 18.1671Z" fill="black"/>
                </svg>

                <span>Favoris</span>
            </a>
            <a href="{{ routes.search_url }}" class="rosa-menu-mobile-search">{{ section.settings.search_text }}</a>

            {% for link in linklists.new-main-menu.links  %}
                {% if link.links.size > 0 %}
                    <div class="rosa-menu-mobile-item-arrow js-mobile-arrow" data-button-undex="{{ forloop.index }}">
                        <span>{{link.title}}</span>

                        <svg xmlns="http://www.w3.org/2000/svg" width="7.339" height="12.836" viewBox="0 0 7.339 12.836">
                          <path id="Icon_ionic-ios-arrow-down" data-name="Icon ionic-ios-arrow-down" d="M12.608,16.373l4.854-4.857a.913.913,0,0,1,1.3,0,.925.925,0,0,1,0,1.3l-5.5,5.5a.916.916,0,0,1-1.265.027L6.455,12.819a.917.917,0,1,1,1.3-1.3Z" transform="translate(-11.246 19.024) rotate(-90)"/>
                        </svg>
                    </div>
                {% else %}
                    <a href="{{ link.url }}" class="rosa-menu-mobile-item">{{link.title}}</a>
                {% endif %}
            {% endfor %}

            <div class="rosa-menu-mobile-bar"></div>
            <a href="{{ routes.account_url }}" class="rosa-menu-mobile-item-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="19.209" height="20.819" viewBox="0 0 19.209 20.819">
                  <path id="Icon_material-supervisor-account" data-name="Icon material-supervisor-account" d="M23.121,9.254a4.775,4.775,0,1,1-4.775,4.775A4.772,4.772,0,0,1,23.121,9.254Zm0,8.05a3.275,3.275,0,1,0-3.275-3.275A3.27,3.27,0,0,0,23.121,17.3Zm0,3.22a17,17,0,0,1,5.811,1.163c3.136,1.255,3.794,2.876,3.794,4.015v4.372H13.517V25.7c0-1.139.658-2.76,3.794-4.015A17.12,17.12,0,0,1,23.121,20.523Zm8.1,8.05V25.7c0-.553-.37-1.629-2.851-2.622a15.612,15.612,0,0,0-5.253-1.055,15.612,15.612,0,0,0-5.253,1.055c-1.065.426-2.851,1.333-2.851,2.622v2.872Z" transform="translate(-13.517 -9.254)"/>
                </svg>

                <span>Profil</span>
            </a>
            <a href="" class="rosa-menu-mobile-item-icon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22" height="17" viewBox="0 0 22 17">
                  <defs>
                    <clipPath id="clip-path">
                      <rect id="Rectangle_179" data-name="Rectangle 179" width="22" height="17" transform="translate(0 -0.697)"/>
                    </clipPath>
                  </defs>
                  <g id="Groupe_301" data-name="Groupe 301" transform="translate(0 0.697)">
                    <g id="Groupe_300" data-name="Groupe 300" transform="translate(0 0)">
                      <path id="Tracé_236" data-name="Tracé 236" d="M.6,0A.686.686,0,0,0,0,.662V15.229a.688.688,0,0,0,.662.662H21.189a.688.688,0,0,0,.662-.662V.662A.688.688,0,0,0,21.189,0ZM2.328,1.324h17.2l-8.6,8.028Zm-1,.88L7.232,7.718l-2.4,2.4a.662.662,0,1,0,.931.942L8.2,8.618l2.266,2.121a.687.687,0,0,0,.91,0l2.266-2.121,4.428,4.428a.662.662,0,1,0,.931-.941L14.619,7.718,20.526,2.2V14.567H1.324Zm2.235,9.373a.668.668,0,0,0-.383.2l-.331.331a.688.688,0,0,0-.015.946.688.688,0,0,0,.946,0l.331-.331a.662.662,0,0,0-.548-1.138" transform="translate(0.062 -0.399)"/>
                    </g>
                  </g>
                </svg>

                <span>Message</span>
            </a>
            <a href="{{ section.settings.boutiques_url }}"class="rosa-menu-mobile-item-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="18.705" height="22.835" viewBox="0 0 18.705 22.835">
                  <path id="Icon_material-location-on" data-name="Icon material-location-on" d="M16.1,2.25a9.33,9.33,0,0,1,6.613,2.714,9.186,9.186,0,0,1,2.74,6.567,10.764,10.764,0,0,1-1.434,5.055,22.328,22.328,0,0,1-3.059,4.247,33.256,33.256,0,0,1-4.412,4.1.75.75,0,0,1-.9,0,33.256,33.256,0,0,1-4.412-4.1,22.328,22.328,0,0,1-3.059-4.247A10.764,10.764,0,0,1,6.75,11.531,9.186,9.186,0,0,1,9.49,4.964,9.33,9.33,0,0,1,16.1,2.25Zm0,21.131c1.727-1.4,7.853-6.718,7.853-11.85a7.7,7.7,0,0,0-2.3-5.5,7.913,7.913,0,0,0-11.113,0,7.7,7.7,0,0,0-2.3,5.5C8.25,16.663,14.375,21.983,16.1,23.381Zm0-15.647a3.8,3.8,0,1,1-3.822,3.8A3.814,3.814,0,0,1,16.1,7.734Zm0,6.094a2.3,2.3,0,1,0-2.322-2.3A2.312,2.312,0,0,0,16.1,13.828Z" transform="translate(-6.75 -2.25)"/>
                </svg>
                <span>{{ section.settings.boutiques_text }}</span>
            </a>
            <a href="{{ section.settings.rdv_url }}" class="rosa-menu-mobile-item-icon">

                <svg xmlns="http://www.w3.org/2000/svg" width="20.702" height="22.835" viewBox="0 0 20.702 22.835">
                  <g id="Icon_feather-calendar" data-name="Icon feather-calendar" transform="translate(0.75 0.75)">
                    <path id="Tracé_57" data-name="Tracé 57" d="M6.634,5.25H21.568a2.887,2.887,0,0,1,2.884,2.884V23.068a2.887,2.887,0,0,1-2.884,2.884H6.634A2.887,2.887,0,0,1,3.75,23.068V8.134A2.887,2.887,0,0,1,6.634,5.25Zm14.935,19.2a1.385,1.385,0,0,0,1.384-1.384V8.134A1.385,1.385,0,0,0,21.568,6.75H6.634A1.385,1.385,0,0,0,5.25,8.134V23.068a1.385,1.385,0,0,0,1.384,1.384Z" transform="translate(-4.5 -3.866)"/>
                    <path id="Tracé_58" data-name="Tracé 58" d="M24,8.017a.75.75,0,0,1-.75-.75V3a.75.75,0,0,1,1.5,0V7.267A.75.75,0,0,1,24,8.017Z" transform="translate(-10.132 -3)"/>
                    <path id="Tracé_59" data-name="Tracé 59" d="M12,8.017a.75.75,0,0,1-.75-.75V3a.75.75,0,0,1,1.5,0V7.267A.75.75,0,0,1,12,8.017Z" transform="translate(-6.666 -3)"/>
                    <path id="Tracé_60" data-name="Tracé 60" d="M23.7,15.75H4.5a.75.75,0,0,1,0-1.5H23.7a.75.75,0,0,1,0,1.5Z" transform="translate(-4.5 -6.466)"/>
                  </g>
                </svg>

                <span>{{ section.settings.rdv_text }}</span>
            </a>
        </div>

        {% for link in linklists.new-main-menu.links  %}
            {% if link.links.size > 0 %}
                <div class="rosa-menu-open" id="data-open-menu-index-{{ forloop.index }}">
                    <div class="rosa-menu-open-shadow"></div>
                    <div class="rosa-menu-open-header">
                        <svg class="rosa-menu-open-header-back" xmlns="http://www.w3.org/2000/svg" width="11.709" height="20.479" viewBox="0 0 11.709 20.479">
                          <path id="Icon_ionic-ios-arrow-down" data-name="Icon ionic-ios-arrow-down" d="M10.243,3.53l7.743,7.75a1.457,1.457,0,0,0,2.067,0,1.476,1.476,0,0,0,0-2.073L11.28.426A1.461,1.461,0,0,0,9.262.384L.427,9.2a1.464,1.464,0,0,0,2.067,2.073Z" transform="translate(0 20.479) rotate(-90)"/>
                        </svg>

                        <span>{{ link.title }}</span>

                        <svg class="rosa-menu-open-header-close" xmlns="http://www.w3.org/2000/svg" width="20.484" height="20.479" viewBox="0 0 20.484 20.479">
                          <path id="Icon_ionic-ios-close" data-name="Icon ionic-ios-close" d="M23.954,21.528l7.316-7.316a1.714,1.714,0,1,0-2.424-2.424L21.53,19.1l-7.316-7.316a1.714,1.714,0,1,0-2.424,2.424l7.316,7.316-7.316,7.316a1.714,1.714,0,1,0,2.424,2.424l7.316-7.316,7.316,7.316a1.714,1.714,0,1,0,2.424-2.424Z" transform="translate(-11.285 -11.289)"/>
                        </svg>
                    </div>

                    <div class="rosa-menu-open-inner">
                        {% for child_link in link.links %}
                            <div class="rosa-menu-open-col">
                                <div class="rosa-menu-open-col-title">{{ child_link.title }}</div>
                                {% for grandchild_link in child_link.links %}
                                    <a href="{{ grandchild_link.url }}" class="rosa-menu-open-col-item">{{ grandchild_link.title  }}</a>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <div class="rosa-menu-open-banner">
                            <img srcset="{{ section.settings.menu_image | img_url: '370x390' }} 1x, {{ section.settings.menu_image | img_url: '740x780' }} 2x" alt="" class="rosa-menu-open-banner-pic">
                            <div class="rosa-menu-open-banner-title">{{ section.settings.menu_text }}</div>
                            <a href="{{ section.settings.menu_url }}" class="rosa-menu-open-banner-link">{{ section.settings.menu_url_text }}</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <a href="{{ routes.root_url }}" class="rosa-menu-logo-wrapper">
            <svg class="rosa-menu-logo" id="Calque_1-2" xmlns="http://www.w3.org/2000/svg" width="290.5" height="33.109" viewBox="0 0 290.5 33.109">
              <path id="Tracé_44" data-name="Tracé 44" d="M142.444,28.765h-1.6a16.225,16.225,0,0,0-3.959-4.631c-3.691-3.019-3.691-5.617-3.691-6.468a4.675,4.675,0,0,1,8.456-2.75,4.675,4.675,0,0,1,8.456,2.75c0,.86,0,3.449-3.664,6.45a16.4,16.4,0,0,0-3.986,4.658Zm-4.578-13.992a2.888,2.888,0,0,0-2.884,2.884c0,.645,0,2.6,3.019,5.07a19.355,19.355,0,0,1,3.646,3.879,19.656,19.656,0,0,1,3.673-3.906c2.992-2.446,2.992-4.4,2.992-5.043a2.885,2.885,0,1,0-5.769-.009h-1.792a2.883,2.883,0,0,0-2.884-2.884Z" transform="translate(-13.878 -1.354)" fill="#fff"/>
              <path id="Tracé_45" data-name="Tracé 45" d="M140.916,33.553a14.646,14.646,0,1,1,14.646-14.646A14.658,14.658,0,0,1,140.916,33.553Zm0-27.5a12.855,12.855,0,1,0,12.855,12.855A12.872,12.872,0,0,0,140.916,6.052Z" transform="translate(-13.157 -0.444)" fill="#fff"/>
              <rect id="Rectangle_20" data-name="Rectangle 20" width="1.792" height="6.889" transform="matrix(0.865, -0.502, 0.502, 0.865, 120.159, 7.035)" fill="#fff"/>
              <rect id="Rectangle_21" data-name="Rectangle 21" width="6.853" height="1.792" transform="translate(130.441 12.092) rotate(-59.9)" fill="#fff"/>
              <rect id="Rectangle_22" data-name="Rectangle 22" width="6.62" height="1.792" transform="translate(114.009 17.567)" fill="#fff"/>
              <rect id="Rectangle_23" data-name="Rectangle 23" width="1.792" height="8.107" transform="translate(129.789 23.772) rotate(-29.91)" fill="#fff"/>
              <rect id="Rectangle_24" data-name="Rectangle 24" width="8.107" height="1.792" transform="translate(120.12 29.895) rotate(-59.9)" fill="#fff"/>
              <rect id="Rectangle_25" data-name="Rectangle 25" width="6.539" height="1.792" transform="translate(134.971 17.567)" fill="#fff"/>
              <path id="Tracé_46" data-name="Tracé 46" d="M233.539,1.854A1.854,1.854,0,1,1,231.684,0a1.852,1.852,0,0,1,1.854,1.854" transform="translate(-23.948)" fill="#fff"/>
              <path id="Tracé_47" data-name="Tracé 47" d="M239.2,1.854A1.859,1.859,0,1,1,237.343,0,1.852,1.852,0,0,1,239.2,1.854" transform="translate(-24.536)" fill="#fff"/>
              <path id="Tracé_48" data-name="Tracé 48" d="M20.245,29.86h-3.1l-5.312-9.585H2.705V29.86H0V6.82H11.493c3.476,0,9.307.645,9.307,6.6,0,4.981-3.2,6.575-5.894,6.853l5.348,9.585Zm-7.65-12.29c3.046,0,5.5-.367,5.5-4.121,0-2.858-2.517-3.933-5.008-3.933H2.705V17.57Z" transform="translate(0 -0.711)" fill="#fff"/>
              <path id="Tracé_49" data-name="Tracé 49" d="M41.57,6.14A12.149,12.149,0,0,1,53.95,18.153,12.149,12.149,0,0,1,41.57,30.165,12.149,12.149,0,0,1,29.19,18.153,12.132,12.132,0,0,1,41.57,6.14m0,21.32a9.408,9.408,0,0,0,9.675-9.307A9.408,9.408,0,0,0,41.57,8.845,9.408,9.408,0,0,0,31.9,18.153,9.408,9.408,0,0,0,41.57,27.46" transform="translate(-3.042 -0.64)" fill="#fff"/>
              <path id="Tracé_50" data-name="Tracé 50" d="M75.458,16.155c4.3,0,8.662,1.568,8.662,6.665s-5.348,7.346-11,7.346c-7.005,0-10.167-3.5-11.52-4.945l1.935-1.908c1.415,1.263,3.718,4.148,9.675,4.148,5.2,0,8.206-1.971,8.206-4.64,0-2.884-2.92-3.959-5.223-3.959H71.337c-4.452,0-8.053-1.478-8.053-5.778,0-3.2,2.893-6.942,9.952-6.942a15.372,15.372,0,0,1,9.648,3.377L81.191,11.64a12.89,12.89,0,0,0-8.017-2.795c-5.2,0-7.193,2.428-7.193,4.237,0,3.073,3.906,3.073,6.665,3.073H75.44Z" transform="translate(-6.418 -0.64)" fill="#fff"/>
              <path id="Tracé_51" data-name="Tracé 51" d="M113.805,30.569H110.8l-3.744-7.892H95.988L92.36,30.569H89.35L100.315,7.52h2.705ZM101.667,10.817l-4.336,9.155h8.51l-4.174-9.155Z" transform="translate(-9.31 -0.784)" fill="#fff"/>
              <path id="Tracé_52" data-name="Tracé 52" d="M191.816,30.518h-2.7v-17.6h-.063l-8.483,15.677L172.09,12.916h-.054v17.6h-2.7V7.55h2.7l8.537,15.533L189.119,7.55h2.7Z" transform="translate(-17.645 -0.787)" fill="#fff"/>
              <path id="Tracé_53" data-name="Tracé 53" d="M224.615,30.518h-3l-3.736-7.874H206.86l-3.619,7.874h-3L211.178,7.55h2.7l10.75,22.968Zm-12.093-19.69L208.2,19.957h8.483Z" transform="translate(-20.864 -0.787)" fill="#fff"/>
              <rect id="Rectangle_26" data-name="Rectangle 26" width="2.696" height="22.968" transform="translate(208.919 6.763)" fill="#fff"/>
              <path id="Tracé_54" data-name="Tracé 54" d="M254.561,30.518h-2.7V10.246H243.48V7.55h19.475v2.7h-8.394Z" transform="translate(-25.37 -0.787)" fill="#fff"/>
              <path id="Tracé_55" data-name="Tracé 55" d="M291.7,30.518H272.16V7.55h18.857v2.7H274.847v7.014h8.519v2.7h-8.519v7.874H291.7Z" transform="translate(-28.358 -0.787)" fill="#fff"/>
              <path id="Tracé_56" data-name="Tracé 56" d="M321.454,30.518h-3l-3.736-7.874H303.69l-3.619,7.874h-3L308.008,7.55h2.7ZM309.36,10.829l-4.318,9.128h8.483Z" transform="translate(-30.954 -0.787)" fill="#fff"/>
            </svg>
        </a>

        <svg class="rosa-menu-burger" id="burger" xmlns="http://www.w3.org/2000/svg" width="23" height="18" viewBox="0 0 27 18" fill="none">
          <path d="M1 1H27" stroke="white" stroke-width="2" stroke-linecap="round"/>
          <path d="M1 9H27" stroke="white" stroke-width="2" stroke-linecap="round"/>
          <path d="M1 17H27" stroke="white" stroke-width="2" stroke-linecap="round"/>
        </svg>

        <nav class="rosa-menu-nav">
            <div class="rosa-menu-nav-top">
                <a href="{{ section.settings.boutiques_url }}" class="rosa-menu-nav-item_icon no_stroke">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15.133" height="18.526" viewBox="0 0 15.133 18.526">
                      <path id="Icon_material-location-on" data-name="Icon material-location-on" d="M14.567,3A7.032,7.032,0,0,0,7.5,10.008c0,5.256,7.067,10.518,7.067,10.518s7.067-5.262,7.067-10.518A7.032,7.032,0,0,0,14.567,3Zm0,9.511a2.5,2.5,0,1,1,2.524-2.5A2.514,2.514,0,0,1,14.567,12.511Z" transform="translate(-7 -2.5)" fill="none" stroke="#fff" stroke-linejoin="round" stroke-width="1"/>
                    </svg>

                    <span>{{ section.settings.boutiques_text }}</span>
                </a>
                <a href="{{ section.settings.rdv_url }}" class="rosa-menu-nav-item_icon">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M15.392 1.5C15.392 1.22386 15.1681 1 14.892 1C14.6159 1 14.392 1.22386 14.392 1.5V2.75305H8.381V1.5C8.381 1.22386 8.15714 1 7.881 1C7.60485 1 7.381 1.22386 7.381 1.5V2.75305H5.253C4.65547 2.75305 4.08241 2.99042 3.65989 3.41294C3.23737 3.83546 3 4.40852 3 5.00605V8.51001V17.2741C3 17.8716 3.23737 18.4446 3.65989 18.8672C3.8691 19.0764 4.11747 19.2423 4.39081 19.3556C4.66416 19.4688 4.95713 19.5271 5.253 19.5271H17.521C18.1185 19.5271 18.6916 19.2897 19.1141 18.8672C19.5366 18.4446 19.774 17.8716 19.774 17.2741V5.00605C19.774 4.40852 19.5366 3.83546 19.1141 3.41294C18.6916 2.99042 18.1185 2.75305 17.521 2.75305H15.392V1.5ZM4 9.01001V17.2741C4 17.6064 4.13201 17.9251 4.367 18.1601C4.48335 18.2764 4.62148 18.3687 4.7735 18.4317C4.92552 18.4946 5.08845 18.5271 5.253 18.5271H17.521C17.8533 18.5271 18.172 18.395 18.407 18.1601C18.642 17.9251 18.774 17.6064 18.774 17.2741V9.01001H4ZM18.774 8.01001H4V5.00605C4 4.67374 4.13201 4.35503 4.367 4.12005C4.60198 3.88506 4.92068 3.75305 5.253 3.75305H7.381V5.005C7.381 5.28114 7.60485 5.505 7.881 5.505C8.15714 5.505 8.381 5.28114 8.381 5.005V3.75305H14.392V5.005C14.392 5.28114 14.6159 5.505 14.892 5.505C15.1681 5.505 15.392 5.28114 15.392 5.005V3.75305H17.521C17.8533 3.75305 18.172 3.88506 18.407 4.12005C18.642 4.35503 18.774 4.67373 18.774 5.00605V8.01001Z" fill="white"/>
                    </svg>
                    <span>{{ section.settings.rdv_text }}</span>
                </a>

                <div class="rosa-menu-nav-item_lang-switcher rosa-menu-nav-item_lang-switcher-desktop js-lang-switcher">
                    <span>{{ localization.language.iso_code }}</span>

                    <svg xmlns="http://www.w3.org/2000/svg" width="9.079" height="5.191" viewBox="0 0 9.079 5.191">
                      <path id="Icon_ionic-ios-arrow-down" data-name="Icon ionic-ios-arrow-down" d="M10.728,14.873l3.433-3.435a.646.646,0,0,1,.916,0,.654.654,0,0,1,0,.919l-3.89,3.892a.648.648,0,0,1-.895.019L6.377,12.359a.649.649,0,1,1,.916-.919Z" transform="translate(-6.188 -11.246)" fill="{% if is_black %}#000{% else %}#fff{% endif %}"/>
                    </svg>

                    <div class="rosa-menu-nav-item_lang-switcher-menu">
                       <localization-form>
                         {% form 'localization' %}
                           <input type="hidden" name="language_code" value="{{ localization.language.iso_code }}">
                           {% for language in localization.available_languages %}
                             <span data-language="{{ language.iso_code }}"class="language_switcher">{{ language.iso_code }}</span>
                           {% endfor %}
                         {% endform %}
                       </localization-form>
                    </div>
                </div>

            </div>
            <div class="rosa-menu-nav-bottom">
                <div class="rosa-menu-nav-bottom-links">

                    {% for link in linklists.new-main-menu.links limit:6 %}
                        {% if link.links.size > 0 %}
                            <div class="rosa-menu-nav-item_arrow" data-button-undex="{{ forloop.index }}">
                                <span>{{ link.title }}</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="9.079" height="5.191" viewBox="0 0 9.079 5.191">
                                  <path id="Icon_ionic-ios-arrow-down" data-name="Icon ionic-ios-arrow-down" d="M10.728,14.873l3.433-3.435a.646.646,0,0,1,.916,0,.654.654,0,0,1,0,.919l-3.89,3.892a.648.648,0,0,1-.895.019L6.377,12.359a.649.649,0,1,1,.916-.919Z" transform="translate(-6.188 -11.246)" fill="#fff"/>
                                </svg>
                            </div>
                        {% else %}
                            <a href="{{ link.url }}" class="rosa-menu-nav-item">
                                <span>{{ link.title }}</span>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="rosa-menu-nav-bottom-icons">
                    <a href="{{ routes.search_url }}">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18" height="18" viewBox="0 0 18 18">
                          <defs>
                            <clipPath id="clip-path">
                              <rect id="Rectangle_178" data-name="Rectangle 178" width="18" height="18" fill="#fff"/>
                            </clipPath>
                          </defs>
                          <g id="Groupe_299" data-name="Groupe 299" transform="translate(0 0)">
                            <g id="Groupe_298" data-name="Groupe 298">
                              <path id="Tracé_235" data-name="Tracé 235" d="M17.516,16.493l-4.648-4.648a7.243,7.243,0,1,0-1.024,1.024l4.648,4.648a.726.726,0,0,0,1.024-1.024M3.137,11.359a5.81,5.81,0,1,1,8.216,0l0,0a5.774,5.774,0,0,1-8.165.049l-.049-.049" transform="translate(0 0)" fill="#fff"/>
                            </g>
                          </g>
                        </svg>
                    </a>
                    <a href="{{ section.settings.contacts_url }}">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.4944 5C2.36044 5.01553 2.23696 5.07449 2.14628 5.16621C2.05561 5.25792 2.00372 5.37635 2 5.50008V16.4999C2.00522 16.631 2.06438 16.7555 2.16558 16.8482C2.26678 16.941 2.40252 16.9952 2.54555 17H19.4545C19.5975 16.9952 19.7332 16.941 19.8344 16.8482C19.9356 16.7555 19.9948 16.631 20 16.4999V5.50008C19.9948 5.36897 19.9356 5.24454 19.8344 5.15178C19.7332 5.05901 19.5975 5.00479 19.4545 5H2.4944ZM3.91743 6.00015H18.0826L10.9995 12.0673L3.91743 6.00015ZM3.09109 6.66478L7.95788 10.8281L5.98028 12.6409C5.92695 12.6865 5.88416 12.7415 5.85443 12.8026C5.8247 12.8637 5.80864 12.9296 5.80721 12.9965C5.80578 13.0634 5.81899 13.1298 5.84608 13.192C5.87316 13.2541 5.91356 13.3106 5.96489 13.3581C6.01622 13.4056 6.07743 13.4433 6.1449 13.4687C6.21237 13.4942 6.28474 13.507 6.3577 13.5064C6.43067 13.5058 6.50276 13.4917 6.5697 13.4651C6.63665 13.4385 6.69709 13.3999 6.74745 13.3515L8.75815 11.5074L10.6244 13.1097C10.7279 13.1937 10.8613 13.2401 10.9995 13.2401C11.1377 13.2401 11.2711 13.1937 11.3746 13.1097L13.2419 11.5074L16.8892 14.8508C16.9395 14.8992 17 14.9378 17.0669 14.9644C17.1339 14.9911 17.206 15.0051 17.2789 15.0057C17.3519 15.0063 17.4243 14.9935 17.4917 14.9681C17.5592 14.9426 17.6204 14.905 17.6717 14.8574C17.7231 14.8099 17.7635 14.7534 17.7906 14.6913C17.8176 14.6292 17.8309 14.5627 17.8294 14.4958C17.828 14.4289 17.8119 14.363 17.7822 14.3019C17.7525 14.2408 17.7097 14.1858 17.6564 14.1402L14.0461 10.8309L18.9129 6.66662V15.9998H3.09109V6.66478ZM4.93231 13.7431C4.81231 13.7595 4.70161 13.8119 4.61742 13.892L4.34464 14.142C4.24334 14.2371 4.18563 14.3641 4.1834 14.497C4.18116 14.6298 4.23456 14.7584 4.33261 14.8563C4.43785 14.9476 4.57727 14.9986 4.72221 14.9986C4.86715 14.9986 5.00658 14.9476 5.11182 14.8563L5.38459 14.6063C5.46917 14.5334 5.52622 14.4378 5.54747 14.3333C5.56871 14.2287 5.55304 14.1207 5.50272 14.0248C5.4524 13.929 5.37007 13.8504 5.26767 13.8004C5.16527 13.7504 5.04815 13.7316 4.93331 13.7467" fill="white"/>
                        </svg>
                    </a>
                    <a href="{{ routes.account_url }}">
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.31751 2.28972C10.013 2.00165 10.7782 1.92628 11.5165 2.07313C12.2548 2.21999 12.933 2.58248 13.4652 3.11475C13.9975 3.64703 14.36 4.3252 14.5069 5.06349C14.6537 5.80178 14.5784 6.56704 14.2903 7.26249C14.0022 7.95795 13.5144 8.55237 12.8885 8.97057C12.2627 9.3887 11.5271 9.61191 10.7745 9.612C10.2744 9.61285 9.77914 9.51501 9.31699 9.32407C8.85471 9.13308 8.43467 8.8527 8.08099 8.49901C7.7273 8.14533 7.44692 7.72529 7.25593 7.26301C7.06499 6.80084 6.96714 6.30553 6.968 5.80548C6.9681 5.0529 7.19132 4.31725 7.60943 3.6915C8.02764 3.06561 8.62205 2.57778 9.31751 2.28972ZM11.3214 3.05392C10.7771 2.94565 10.2129 3.00122 9.70019 3.2136C9.18746 3.42598 8.74922 3.78563 8.4409 4.24707C8.13257 4.70852 7.968 5.25103 7.968 5.806C7.96733 6.17456 8.03943 6.54053 8.18016 6.88117C8.32089 7.2218 8.52748 7.5313 8.78809 7.79191C9.04871 8.05252 9.3582 8.25911 9.69883 8.39984C10.0395 8.54057 10.4045 8.61267 10.7731 8.612C11.3281 8.612 11.8715 8.44743 12.3329 8.1391C12.7944 7.83078 13.154 7.39254 13.3664 6.87981C13.5788 6.36708 13.6344 5.80289 13.5261 5.25858C13.4178 4.71427 13.1506 4.21429 12.7581 3.82186C12.3657 3.42943 11.8657 3.16219 11.3214 3.05392ZM6.04371 12.2038C7.61983 11.573 9.50147 11.257 10.774 11.257C12.0465 11.257 13.928 11.573 15.5039 12.2041C16.2923 12.5198 17.0356 12.9267 17.59 13.4382C18.1477 13.9528 18.547 14.6068 18.547 15.396V18.87H3V15.394C3 14.6052 3.39954 13.9514 3.95733 13.4372C4.51175 12.926 5.25525 12.5194 6.04371 12.2038ZM4.63517 14.1724C4.20721 14.5669 4 14.9728 4 15.394V17.87H17.547V15.396C17.547 14.9742 17.3397 14.5679 16.9118 14.1731C16.4806 13.7752 15.8595 13.4237 15.1321 13.1324C13.6765 12.5495 11.9215 12.257 10.774 12.257C9.62653 12.257 7.87117 12.5495 6.41529 13.1322C5.68775 13.4234 5.0665 13.7747 4.63517 14.1724Z" fill="white"/>
                        </svg>
                    </a>
                   <a href="{{ section.settings.fav_url }}">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.3182 3C13.5045 3 11.9275 3.82024 11 5.19482C10.0725 3.82024 8.49545 3 6.68182 3C5.30801 3.0016 3.99092 3.54965 3.01949 4.5239C2.04805 5.49816 1.5016 6.81908 1.5 8.19689C1.5 10.726 3.07182 13.3583 6.17227 16.0191C7.593 17.2332 9.12765 18.3065 10.7547 19.2238C10.8301 19.2644 10.9144 19.2857 11 19.2857C11.0856 19.2857 11.1699 19.2644 11.2453 19.2238C12.8724 18.3065 14.407 17.2332 15.8277 16.0191C18.9282 13.3583 20.5 10.726 20.5 8.19689C20.4984 6.81908 19.9519 5.49816 18.9805 4.5239C18.0091 3.54965 16.692 3.0016 15.3182 3ZM11 18.1671C9.58277 17.3469 2.53636 13.0231 2.53636 8.19689C2.53751 7.0946 2.97463 6.03779 3.7518 5.25835C4.52898 4.47891 5.58273 4.04052 6.68182 4.03938C8.43327 4.03938 9.90405 4.97741 10.5207 6.48798C10.5597 6.58329 10.6261 6.66482 10.7115 6.72219C10.7968 6.77957 10.8973 6.8102 11 6.8102C11.1027 6.8102 11.2032 6.77957 11.2885 6.72219C11.3739 6.66482 11.4403 6.58329 11.4793 6.48798C12.096 4.97741 13.5667 4.03938 15.3182 4.03938C16.4173 4.04052 17.471 4.47891 18.2482 5.25835C19.0254 6.03779 19.4625 7.0946 19.4636 8.19689C19.4636 13.0231 12.4172 17.3469 11 18.1671Z" fill="black"/>
                    </svg>
                   </a>
                    <a href="{{ routes.cart_url }}">
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.5 9.933C18.5013 9.66867 18.4502 9.4067 18.3497 9.16224C18.2492 8.91778 18.1011 8.69567 17.9142 8.50876C17.7273 8.32185 17.5052 8.17385 17.2608 8.0733C17.0163 7.97276 16.7543 7.92167 16.49 7.923H16.267C16.087 4.082 13.809 1 11.04 1C8.271 1 5.993 4.082 5.814 7.968H5.546C5.01922 7.96319 4.51199 8.16724 4.1353 8.53551C3.7586 8.90377 3.54312 9.40625 3.536 9.933C3.536 10.112 3.136 15.248 3 17.213C3.00473 18.0764 3.34981 18.9031 3.96035 19.5137C4.57088 20.1242 5.39759 20.4693 6.261 20.474H15.73C16.6003 20.4669 17.4323 20.115 18.0435 19.4954C18.6548 18.8759 18.9955 18.0393 18.991 17.169C18.9 15.2 18.5 10.112 18.5 9.933ZM11.04 1.983C13.273 1.983 15.149 4.663 15.283 8.013C13.943 8.102 11.844 8.192 11.129 8.192C10.459 8.192 8.229 8.103 6.797 8.013C6.931 4.663 8.806 1.983 11.04 1.983ZM5.546 8.906C5.725 8.906 10.102 9.129 11.129 9.129C12.246 9.129 16.355 8.906 16.529 8.906C16.6645 8.90384 16.799 8.92893 16.9246 8.97977C17.0501 9.03062 17.1642 9.10619 17.26 9.20199C17.3558 9.29779 17.4314 9.41186 17.4822 9.53744C17.5331 9.66302 17.5582 9.79754 17.556 9.933C17.556 9.933 17.556 9.978 17.645 10.871C17.645 11.496 15.367 12.926 11.571 13.015V12.747C11.571 12.6166 11.5192 12.4916 11.427 12.3995C11.3349 12.3073 11.2099 12.2555 11.0795 12.2555C10.9491 12.2555 10.8241 12.3073 10.732 12.3995C10.6398 12.4916 10.588 12.6166 10.588 12.747V13.015C6.8 12.881 4.519 11.5 4.519 10.871C4.608 9.978 4.608 9.933 4.608 9.933C4.59947 9.80337 4.61723 9.67335 4.66021 9.55075C4.70319 9.42816 4.77051 9.31552 4.85812 9.21959C4.94574 9.12367 5.05183 9.04644 5.17004 8.99255C5.28825 8.93866 5.41613 8.90922 5.546 8.906ZM15.774 19.491H6.305C5.70165 19.4884 5.12376 19.2475 4.69712 18.8209C4.27048 18.3942 4.02963 17.8164 4.027 17.213C4.206 14.89 4.34 13.327 4.427 12.255C6.27142 13.4118 8.41436 14.0028 10.591 13.955V14.178C10.591 14.2425 10.6037 14.3065 10.6284 14.3661C10.6531 14.4257 10.6893 14.4799 10.735 14.5255C10.7806 14.5712 10.8348 14.6074 10.8944 14.6321C10.954 14.6568 11.018 14.6695 11.0825 14.6695C11.147 14.6695 11.211 14.6568 11.2706 14.6321C11.3302 14.6074 11.3844 14.5712 11.43 14.5255C11.4757 14.4799 11.5119 14.4257 11.5366 14.3661C11.5613 14.3065 11.574 14.2425 11.574 14.178V13.955C13.7488 13.988 15.8876 13.3981 17.738 12.255C17.827 13.327 17.961 14.89 18.138 17.168C18.1247 17.7875 17.8697 18.3773 17.4274 18.8114C16.9851 19.2454 16.3907 19.4893 15.771 19.491" fill="white"/>
                        </svg>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</setion>

{% schema %}
{
   "name": "t:sections.header.name",
   "class": "section-header",
   "settings": [
        {
        "type": "image_picker",
        "id": "menu_image",
        "label": "menu banner image"
        },
        {
          "type": "text",
          "id": "menu_text",
          "label": "menu banner text",
          "default": "text"
        },
        {
          "type": "url",
          "id": "menu_url",
          "label": "menu banner url",
          "default": "/"
        },
        {
          "type": "text",
          "id": "menu_url_text",
          "label": "menu banner link text",
          "default": "link"
        },
        {
            "type": "text",
            "id": "search_text",
            "label": "search text",
            "default": "Rechercher"
        },
        {
            "type": "text",
            "id": "boutiques_text",
            "label": "boutiques text",
            "default": "Boutiques"
        },
        {
          "type": "url",
          "id": "boutiques_url",
          "label": "boutiques url",
          "default": "/"
        },
        {
            "type": "text",
            "id": "rdv_text",
            "label": "rdv text",
            "default": "Prenez RDV"
        },
        {
          "type": "url",
          "id": "rdv_url",
          "label": "rdv url",
          "default": "/"
        },
        {
          "type": "url",
          "id": "contacts_url",
          "label": "contacts url",
          "default": "/"
        },
        {
          "type": "url",
          "id": "fav_url",
          "label": "FAVORIS url",
          "default": "/"
        }
    ]
}
{% endschema %}