<section class="rosa-jumbotron{% if section.settings.is_full_screen %} rosa-jumbotron_fullscreen{% endif %}">
    <picture class="rosa-jumbotron-pic" >
      <source srcset="{{ section.settings.banner_image | img_url: '1820x840', crop: 'center' }} 1x, {{ section.settings.banner_image | img_url: '3640x1680', crop: 'center' }} 2x" media="(min-width: 1920px)" />
      <source srcset="{{ section.settings.banner_image | img_url: '1340x680', crop: 'center' }} 1x, {{ section.settings.banner_image | img_url: '2680x1360', crop: 'center' }} 2x" media="(min-width: 1440px)" />
      <source srcset="{{ section.settings.banner_image | img_url: '1100x680', crop: 'center' }} 1x, {{ section.settings.banner_image | img_url: '2200x1360', crop: 'center' }} 2x" media="(min-width: 1200px)" />
      <source srcset="{{ section.settings.banner_image | img_url: '920x550', crop: 'center' }} 1x, {{ section.settings.banner_image | img_url: '1840x1100', crop: 'center' }} 2x" media="(min-width: 960px)" />
      <source srcset="{{ section.settings.banner_image | img_url: '680x500', crop: 'center' }}" media="(min-width: 720px)" />
      <source srcset="{{ section.settings.banner_image | img_url: '960x880', crop: 'center' }}" media="(min-width: 480px)" />
      <source srcset="{% if section.settings.banner_image_mobile %}{{ section.settings.banner_image_mobile | img_url: '720x1200', crop: 'center' }}{% else %}{{ section.settings.banner_image | img_url: '720x1200', crop: 'center' }}{% endif %}" />
      <img src="{% if section.settings.banner_image_mobile %}{{ section.settings.banner_image_mobile | img_url: '720x1200', crop: 'center' }}{% else %}{{ section.settings.banner_image | img_url: '720x1200', crop: 'center' }}{% endif %}" alt="{{ section.settings.banner_image.alt }}" loading="lazy" class="rosa-jumbotron-pic"/>
    </picture>

    <div class="rosa-jumbotron-wrapper container rosa-jumbotron-wrapper_{{ section.settings.alignment }}">
        <div class="rosa-jumbotron-content">
            <{{ section.settings.tag }} class="rosa-jumbotron-title {% if section.settings.is_title_big %}rosa-jumbotron-title_big{% endif %}" style="color: {{ section.settings.text_color }}">{{ section.settings.image_banner_title_text }}</{{ section.settings.tag }}>
            <div class="rosa-jumbotron-text {% if section.settings.is_text_big %}rosa-jumbotron-text_big{% endif %}" style="color: {{ section.settings.text_color }}">{{ section.settings.image_banner_subtitle_text }}</div>
            <a href="{{ section.settings.image_banner_link_url }}" class="rosa-jumbotron-link" style="color: {{ section.settings.text_color }}; border-color: {{ section.settings.text_color }};">{{ section.settings.image_banner_link_text }}</a>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "t:sections.image-banner.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "tag",
      "label": "title tag",
      "options": [
        {
          "value": "h1",
          "label": "h1"
        },
        {
          "value": "h2",
          "label": "h2"
        },
        {
          "value": "div",
          "label": "none"
        }
      ],
      "default": "div"
    },
    {
      "type": "checkbox",
      "id": "is_full_screen",
      "label": "full screen",
      "default": true
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Content alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "right"
        }
      ],
      "default": "center"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "text color",
      "default": "#ffffff"
    },
    {
      "type": "richtext",
      "id": "image_banner_title_text",
      "label": "title text",
      "default": "<p>title</p>"
    },
    {
      "type": "checkbox",
      "id": "is_title_big",
      "label": "big title",
      "default": false
    },
    {
      "type": "inline_richtext",
      "id": "image_banner_subtitle_text",
      "label": "text",
      "default": "text"
    },
    {
      "type": "checkbox",
      "id": "is_text_big",
      "label": "big text",
      "default": false
    },
    {
      "type": "inline_richtext",
      "id": "image_banner_link_text",
      "label": "link text",
      "default": "link"
    },
    {
      "type": "url",
      "id": "image_banner_link_url",
      "label": "link url",
      "default": "/"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "image-banner image"
    },
    {
      "type": "image_picker",
      "id": "banner_image_mobile",
      "label": "image-banner image mobile"
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-banner.presets.name"
    }
  ]
}
{% endschema %}
