{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="rosa-collections section-{{ section.id }}-padding">
    {%- for collection in section.settings.collection_list -%}

    <a href="{{ collection.url }}" class="rosa-collections-item">

        <div class="rosa-collections-item-hover">
            {% if collection.metafields.custom.second_image %}
              <img src="{{ collection.metafields.custom.second_image | image_url: width: 500 }}" alt="" class="rosa-collections-item-hover-pic">
            {% else %}
              <img src="{{ collection.featured_image | image_url: width: 500 }}" alt="" class="rosa-collections-item-hover-pic">
            {% endif %}
            <div class="rosa-collections-item-link">VOIR LA COLLECTION</div>
        </div>

        {% if collection.metafields.custom.alternative_first_image %}
          <img src="{{ collection.metafields.custom.alternative_first_image | image_url: width: 500 }}" alt="" class="rosa-collections-item-pic">
        {% else %}
          <img src="{{ collection.featured_image | image_url: width: 500 }}" alt="" class="rosa-collections-item-pic">
        {% endif %}

        <div class="rosa-collections-item-title">{{ collection.title }}</div>
        <div class="rosa-collections-item-text">{{  collection.metafields.custom.subtitle }}</div>
    </a>

    {% endfor %}
</section>

{% schema %}
{
  "name": "t:sections.main-list-collections.name",
  "class": "section",
  "settings": [
    {
      "type": "collection_list",
      "id": "collection_list",
      "label": "Collections"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 45
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 45
    }
  ]
}
{% endschema %}
