<section class="rosa-pdp container">
    <a href="javascript:history.back()" class="rosa-pdp-return">
        <svg xmlns="http://www.w3.org/2000/svg" width="6.328" height="4.425" viewBox="0 0 6.328 4.425">
          <path id="Icon_ionic-ios-arrow-down" data-name="Icon ionic-ios-arrow-down" d="M9.353,14.337l2.393-2.929a.4.4,0,0,1,.639,0,.65.65,0,0,1,0,.783L9.673,15.51a.4.4,0,0,1-.624.016l-2.73-3.332a.648.648,0,0,1,0-.783.4.4,0,0,1,.639,0Z" transform="translate(-6.188 -11.246)"/>
        </svg>
        <span>Retour à la collection</span>
    </a>
    <div class="rosa-pdp-content">

        <div class="rosa-pdp-col rosa-pdp-col1">

            <div class="rosa-pdp-pics rosa-pdp-pics-mobile f-carousel" id="myCarousel">
                {%- for media in product.media -%}
                    <a href="{{ media | image_url: width: 2200 }}" class="rosa-pdp-pics-pic f-carousel__slide" data-fancybox="gallery" data-thumb-src="{{ media.preview_image | image_url: width: 65 }}">
                        <img  srcset="{{ media.preview_image | image_url: width: 1100 }} 1x, {{ media.preview_image | image_url: width: 2200 }} 2x" src="{{ media.preview_image | image_url: width: 1100 }}" alt="">
                    </a>
                {%- endfor -%}
            </div>

            <div class="rosa-pdp-pics rosa-pdp-pics-desktop">
                {%- for media in product.media -%}
                    <a href="{{ media | image_url: width: 2200 }}" data-fancybox="gallery" class="rosa-pdp-pics-pic">
                        <img srcset="{{ media.preview_image | image_url: width: 1100 }} 1x, {{ media.preview_image | image_url: width: 2200 }} 2x" src="{{ media.preview_image | image_url: width: 1100 }}" alt="">
                    </a>
                {%- endfor -%}
            </div>
        </div>

        <div class="rosa-pdp-col rosa-pdp-col2">
            <div class="rosa-pdp-info">
                <h1 class="rosa-pdp-info-title">{{ product.title }}</h1>
                <div class="rosa-pdp-info-text">{{ product.vendor }}</div>
                <div class="rosa-pdp-info-price">{{ product.price | money_without_trailing_zeros }}</div>

                <form action="/cart/add" method="post" enctype="multipart/form-data">
                  <div class="rosa-pdp-info-controls">
                      {%- for option in product.options_with_values -%}
                        <div class="rosa-pdp-select-wrapper">
                          <select name="{{ option.name | handleize }}" class="js-pdp-select">
                            {%- for value in option.values -%}
                              <option value="{{ value | escape }}">
                                {{ value | escape }}
                              </option>
                            {%- endfor -%}
                          </select>

                          <div class="rosa-pdp-info-controls-item">
                            <span>{{ option.name | handleize }}</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="6.328" height="4.425" viewBox="0 0 6.328 4.425">
                              <path id="Icon_ionic-ios-arrow-down" data-name="Icon ionic-ios-arrow-down" d="M9.353,14.337l2.393-2.929a.4.4,0,0,1,.639,0,.65.65,0,0,1,0,.783L9.673,15.51a.4.4,0,0,1-.624.016l-2.73-3.332a.648.648,0,0,1,0-.783.4.4,0,0,1,.639,0Z" transform="translate(-6.188 -11.246)"/>
                            </svg>

                          </div>
                          <div class="rosa-pdp-info-controls-item-menu">
                            {%- for value in option.values -%}
                              <div class="rosa-pdp-info-controls-item-menu-el" data-value="{{ value | escape }}">{{ value | escape }}</div>
                            {%- endfor -%}
                          </div>
                          <div class="rosa-pdp-info-controls-item-warning">{{ section.settings.choisissez_votre_option__text }}</div>
                        </div>
                      {%- endfor -%}
                  </div>

                  <select name="id" type="hidden" class="hidden js-main-select">
                    {% for variant in product.variants %}
                        <option value="{{variant.id}}" data-available="{{ variant.inventory_quantity }}"> {{ variant.title }}</option>
                    {% endfor %}
                  </select>

                  <div class="rosa-pdp-info-links"><a href="{{ section.settings.guide_url }}" class="rosa-pdp-info-links-link">{{ section.settings.guide_text }}</a> - <a href="{{ section.settings.gravure_url }}" class="rosa-pdp-info-links-link">{{ section.settings.gravure_text }}</a> - <a href="{{ section.settings.mise_url }}" class="rosa-pdp-info-links-link">{{ section.settings.mise_text }}</a>
                  </div>

                  <input type="submit" name="add" id="add" value="{{ section.settings.cart_button__text }}" class="rosa-pdp-info-button js-disabled">
                  <div class="rosa-pdp-info-fav-button js-add-to-favorites js-disabled">{{ section.settings.cart_fav__text }}</div>
                  <a href="{{ section.settings.fav-url }}" class="rosa-pdp-info-go-fav-button js-go-to-favorites">{{ section.settings.cart_fav__text }}</a>

                </form>

                <a href="https://rosamaitea.com/pages/prendre-rendez-vous" class="rosa-pdp-info-rendez-vous">{{ section.settings.prendre__text }}</a>
                <div class="rosa-pdp-info-text2">
                    <span>{{ section.settings.delivery__text }}&#160;<b>-</b></span>

                    <svg xmlns="http://www.w3.org/2000/svg" width="19.266" height="19.266" viewBox="0 0 19.266 19.266">
                      <g id="Icon_feather-info" data-name="Icon feather-info" transform="translate(-2 -2)">
                        <path id="Tracé_84" data-name="Tracé 84" d="M20.266,11.633A8.633,8.633,0,1,1,11.633,3a8.633,8.633,0,0,1,8.633,8.633Z" fill="none" stroke="#afafaf" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        <path id="Tracé_85" data-name="Tracé 85" d="M18,21.453V18" transform="translate(-6.367 -6.367)" fill="none" stroke="#afafaf" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        <path id="Tracé_86" data-name="Tracé 86" d="M18,12h0" transform="translate(-6.367 -3.82)" fill="none" stroke="#afafaf" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                      </g>
                    </svg>

                </div>
                <div class="rosa-pdp-info-bar"></div>
                <div class="rosa-pdp-info-description-title">{{ section.settings.description__text }}</div>
                <div class="rosa-pdp-info-description-subtitle">{{ section.settings.description_du_produit__text }}</div>
                <div class="rosa-pdp-info-description-text">{{ product.description }}</div>
                <div class="rosa-pdp-info-bar2"></div>
            </div>
        </div>
    </div>
</section>

<script>
  const favSuccessText = '{{ section.settings.cart_fav__text_success }}';
</script>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "section",
  "settings": [
       {
         "type": "text",
         "id": "guide_text",
         "label": "Guide des tailles text",
         "default": "Guide des tailles"
       },
       {
         "type": "url",
         "id": "gravure_url",
         "label": "Guide des tailles url",
         "default": "/"
       },
       {
         "type": "text",
         "id": "gravure_text",
         "label": "Gravure text",
         "default": "Gravure"
       },
       {
         "type": "url",
         "id": "guide_url",
         "label": "Gravure url",
         "default": "/"
       },
       {
         "type": "text",
         "id": "mise_text",
         "label": "Mise à taille text",
         "default": "Mise à taille"
       },
       {
         "type": "url",
         "id": "mise_url",
         "label": "Mise à taille",
         "default": "/"
       },
       {
         "type": "text",
         "id": "cart_button__text",
         "label": "Ajouter au panier text",
         "default": "Ajouter au panier"
       },
       {
         "type": "text",
         "id": "cart_fav__text",
         "label": "Ajouter aux favoris text",
         "default": "Ajouter aux favoris"
       },
       {
         "type": "text",
         "id": "cart_fav__text_success",
         "label": "Dans les favoris text",
         "default": "Dans les favoris"
       },
       {
         "type": "text",
         "id": "prendre__text",
         "label": "PRENDRE RENDEZ-VOUS AU SHOWROOM text",
         "default": "PRENDRE RENDEZ-VOUS AU SHOWROOM"
       },
       {
         "type": "url",
         "id": "fav-url",
         "label": "favoris url"
       },
       {
         "type": "text",
         "id": "delivery__text",
         "label": "Livraison estimée à partir du  text",
         "default": "Livraison estimée à partir du "
       },
       {
         "type": "text",
         "id": "description__text",
         "label": "DESCRIPTION ET DETAILS  text",
         "default": "DESCRIPTION ET DETAILS"
       },
       {
         "type": "text",
         "id": "description_du_produit__text",
         "label": "Description du produit  text",
         "default": "Description du produit:"
       },
       {
         "type": "text",
         "id": "choisissez_votre_option__text",
         "label": "choisissez votre option  text",
         "default": "choisissez votre option"
       }
   ]
}
{% endschema %}
