{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="rosa-account container section-{{ section.id }}-padding">
  <div class="rosa-account_mobile">

    <div class="rosa-account_mobile-wrapper rosa-account_mobile-main">
      <div class="rosa-account_mobile-title">{{ section.settings.menu-title-title }}</div>
      <div class="rosa-account_mobile-menu">
        <a href="{{ routes.account_url }}?page=info" class="rosa-account_mobile-menu-item">
          <span>{{ section.settings.menu-title }}</span>

          <svg xmlns="http://www.w3.org/2000/svg" width="6.247" height="10.926" viewBox="0 0 6.247 10.926">
            <path id="Icon_ionic-ios-arrow-down" data-name="Icon ionic-ios-arrow-down" d="M11.653,15.61l4.131-4.135a.778.778,0,0,1,1.1,0,.787.787,0,0,1,0,1.106l-4.681,4.684a.779.779,0,0,1-1.077.023l-4.714-4.7a.781.781,0,0,1,1.1-1.106Z" transform="translate(-11.246 17.114) rotate(-90)"/>
          </svg>
        </a>
        <a href="{{ routes.account_addresses_url }}" class="rosa-account_mobile-menu-item">
          <span>{{ section.settings.menu-adresses }}</span>

          <svg xmlns="http://www.w3.org/2000/svg" width="6.247" height="10.926" viewBox="0 0 6.247 10.926">
            <path id="Icon_ionic-ios-arrow-down" data-name="Icon ionic-ios-arrow-down" d="M11.653,15.61l4.131-4.135a.778.778,0,0,1,1.1,0,.787.787,0,0,1,0,1.106l-4.681,4.684a.779.779,0,0,1-1.077.023l-4.714-4.7a.781.781,0,0,1,1.1-1.106Z" transform="translate(-11.246 17.114) rotate(-90)"/>
          </svg>
        </a>
        <a href="{{ routes.account_url }}?page=commandes" class="rosa-account_mobile-menu-item">
          <span>{{ section.settings.menu-commandes }}</span>

          <svg xmlns="http://www.w3.org/2000/svg" width="6.247" height="10.926" viewBox="0 0 6.247 10.926">
            <path id="Icon_ionic-ios-arrow-down" data-name="Icon ionic-ios-arrow-down" d="M11.653,15.61l4.131-4.135a.778.778,0,0,1,1.1,0,.787.787,0,0,1,0,1.106l-4.681,4.684a.779.779,0,0,1-1.077.023l-4.714-4.7a.781.781,0,0,1,1.1-1.106Z" transform="translate(-11.246 17.114) rotate(-90)"/>
          </svg>
        </a>
        <div class="rosa-account_mobile-menu-bar"></div>
        <a href="{{ routes.account_logout_url }}" class="rosa-account_mobile-menu-logout">{{ section.settings.menu-deconnexion }}</a>
      </div>
    </div>
    <div class="rosa-account_mobile-wrapper rosa-account_mobile-info">
      <a href="{{ routes.account_url }}" class="rosa-account_mobile-back">
        <svg xmlns="http://www.w3.org/2000/svg" width="10.926" height="6.247" viewBox="0 0 10.926 6.247">
          <path id="Icon_ionic-ios-arrow-down" data-name="Icon ionic-ios-arrow-down" d="M11.653,15.61l4.131-4.135a.778.778,0,0,1,1.1,0,.787.787,0,0,1,0,1.106l-4.681,4.684a.779.779,0,0,1-1.077.023l-4.714-4.7a.781.781,0,0,1,1.1-1.106Z" transform="translate(-6.188 -11.246)"/>
        </svg>
        <span>{{ section.settings.back-text }}</span>
      </a>
      <div class="rosa-account_mobile-title2">{{ section.settings.info-title }}</div>
      <div class="rosa-account_mobile-info">
        <div class="rosa-account_mobile-info-item">
          <div class="rosa-account_mobile-info-item-label">{{ section.settings.info-nom }}</div>
          <div class="rosa-account_mobile-info-item-text">{{ customer.first_name }}</div>
        </div>
        <div class="rosa-account_mobile-info-item">
          <div class="rosa-account_mobile-info-item-label">{{ section.settings.info-prenom }}</div>
          <div class="rosa-account_mobile-info-item-text">{{ customer.last_name }}</div>
        </div>
        <div class="rosa-account_mobile-info-item">
          <div class="rosa-account_mobile-info-item-label">{{ section.settings.info-phone }}</div>
          <div class="rosa-account_mobile-info-item-text">{{ customer.default_address.phone }}</div>
        </div>
        <div class="rosa-account_mobile-info-item">
          <div class="rosa-account_mobile-info-item-label">{{ section.settings.info-adress }}</div>
          <div class="rosa-account_mobile-info-item-text">{{ customer.default_address.address1 }}<br>{{ customer.default_address.address2 }}</div>
        </div>
      </div>
      <a href="{{ routes.account_addresses_url }}" class="rosa-account_mobile-info-modifier">{{ section.settings.info-modify}}</a>
      <div class="rosa-account_mobile-info-bar"></div>
      <div class="rosa-account_mobile-title2">{{ section.settings.password_title }}</div>
      <div class="rosa-account_mobile-info-item">
        <div class="rosa-account_mobile-info-item-label">{{ section.settings.password_email }}</div>
        <div class="rosa-account_mobile-info-item-text">{{ customer.email }}</div>
      </div>
      <div class="rosa-account_mobile-info-item">
        <div class="rosa-account_mobile-info-item-label">{{ section.settings.password_passworf }}</div>
        <div class="rosa-account_mobile-info-item-text">*********</div>
      </div>
    </div>
    <div class="rosa-account_mobile-wrapper rosa-account_mobile-commandes">
      <a href="{{ routes.account_url }}" class="rosa-account_mobile-back">
        <svg xmlns="http://www.w3.org/2000/svg" width="10.926" height="6.247" viewBox="0 0 10.926 6.247">
          <path id="Icon_ionic-ios-arrow-down" data-name="Icon ionic-ios-arrow-down" d="M11.653,15.61l4.131-4.135a.778.778,0,0,1,1.1,0,.787.787,0,0,1,0,1.106l-4.681,4.684a.779.779,0,0,1-1.077.023l-4.714-4.7a.781.781,0,0,1,1.1-1.106Z" transform="translate(-6.188 -11.246)"/>
        </svg>
        <span>{{ section.settings.back-text }}</span>
      </a>
      <div class="rosa-account_mobile-title3">{{ section.settings.commandes-title }}</div>
      {%- if customer.orders.size > 0 -%}
        {%- for order in customer.orders -%}
          <div class="rosa-account_mobile-commandes-item">
            <div class="rosa-account_mobile-commandes-item-el">
              <div class="rosa-account_mobile-commandes-item-el-label">{{ section.settings.commandes-commande}}</div>
              <div class="rosa-account_mobile-commandes-item-el-text">{{ order.name }}</div>
            </div>
            <div class="rosa-account_mobile-commandes-item-el">
              <div class="rosa-account_mobile-commandes-item-el-label">{{ section.settings.commandes-date }}</div>
              <div class="rosa-account_mobile-commandes-item-el-text">{{ order.created_at | time_tag: format: 'date' }}</div>
            </div>
            <div class="rosa-account_mobile-commandes-item-el">
              <div class="rosa-account_mobile-commandes-item-el-label">{{ section.settings.commandes-status}}</div>
              <div class="rosa-account_mobile-commandes-item-el-text">{{ order.financial_status_label }}</div>
            </div>
            <div class="rosa-account_mobile-commandes-item-el">
              <div class="rosa-account_mobile-commandes-item-el-label">{{ section.settings.commandes-total}}</div>
              <div class="rosa-account_mobile-commandes-item-el-text">{{ order.total_net_amount | money_with_currency }}</div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p class="rosa-account-commandes-el-item-empty_mobile">{{ 'customer.orders.none' | t }}</p>
      {% endif %}
    </div>
  </div>
  <div class="rosa-account_desktop">
    <div class="rosa-account-title">{{ section.settings.menu-title-title }}</div>
    <div class="rosa-account_desktop-wrapper">
      <div class="rosa-account-side-menu">
        <a href="{{ routes.account_url }}?page=info" class="rosa-account-side-menu-item js-info">{{ section.settings.menu-title }}</a>
        <a href="{{ routes.account_addresses_url }}" class="rosa-account-side-menu-item">{{ section.settings.menu-adresses }}</a>
        <a href="{{ routes.account_url }}?page=commandes" class="rosa-account-side-menu-item js-commandes">{{ section.settings.menu-commandes }}</a>
        <a href="{{ routes.account_logout_url }}" class="rosa-account-side-menu-item">{{ section.settings.menu-deconnexion }}</a>
      </div>
      <div class="rosa-account-main">
        <div class="rosa-account-main-inner rosa-account-main-inner-info">
          <div class="rosa-account-info">
            <div class="rosa-account-info-header">
              <div class="rosa-account-info-header-title">{{ section.settings.info-title }}</div>
              <a href="{{ routes.account_addresses_url }}" class="rosa-account-info-header-link">{{ section.settings.info-modify }}</a>
            </div>
            <div class="rosa-account-info-content">
              <div class="rosa-account-info-item">
                <div class="rosa-account-info-item-label">{{ section.settings.info-nom }}</div>
                <div class="rosa-account-info-item-text">{{ customer.first_name }}</div>
              </div>
              <div class="rosa-account-info-item">
                <div class="rosa-account-info-item-label">{{ section.settings.info-prenom }}</div>
                <div class="rosa-account-info-item-text">{{ customer.last_name }}</div>
              </div>
              <div class="rosa-account-info-item">
                <div class="rosa-account-info-item-label">{{ section.settings.info-phone }}</div>
                <div class="rosa-account-info-item-text">{{ customer.default_address.phone }}</div>
              </div>
              <div class="rosa-account-info-item">
                <div class="rosa-account-info-item-label">{{ section.settings.info-adress }}</div>
                <div class="rosa-account-info-item-text">{{ customer.default_address.address1 }}<br>{{ customer.default_address.address2 }}</div>
              </div>
            </div>
          </div>
          <div class="rosa-account-password">
            <div class="rosa-account-info-header">
              <div class="rosa-account-info-header-title">{{ section.settings.password_title }}</div>
            </div>
            <div class="rosa-account-info-content">
              <div class="rosa-account-info-item">
                <div class="rosa-account-info-item-label">{{ section.settings.password_email }}</div>
                <div class="rosa-account-info-item-text">{{ customer.email }}</div>
              </div>
              <div class="rosa-account-info-item">
                <div class="rosa-account-info-item-label">{{ section.settings.password_passworf }}</div>
                <div class="rosa-account-info-item-text">***********</div>
              </div>
            </div>
          </div>
        </div>
        <div class="rosa-account-main-inner rosa-account-main-inner-commandes">
          <div class="rosa-account-commandes">
            <div class="rosa-account-info-header rosa-account-info-header_commandes">
              <div class="rosa-account-info-header-title">{{ section.settings.commandes-title }}</div>
            </div>
            <div class="rosa-account-commandes-legend">
              <div class="rosa-account-commandes-legend-item rosa-account-commandes-legend-commande">{{ section.settings.commandes-commande}}</div>
              <div class="rosa-account-commandes-legend-item rosa-account-commandes-legend-date">{{ section.settings.commandes-date}}</div>
              <div class="rosa-account-commandes-legend-item rosa-account-commandes-legend-status">{{ section.settings.commandes-status}}</div>
              <div class="rosa-account-commandes-legend-item rosa-account-commandes-legend-total">{{ section.settings.commandes-total}}</div>
            </div>

            {%- if customer.orders.size > 0 -%}
              {%- for order in customer.orders -%}
                <div class="rosa-account-commandes-el">
                  <div class="rosa-account-commandes-el-item rosa-account-commandes-el-commande">{{ order.name }}</div>
                  <div class="rosa-account-commandes-el-item rosa-account-commandes-el-date">{{ order.created_at | time_tag: format: 'date' }}</div>
                  <div class="rosa-account-commandes-el-item rosa-account-commandes-el-status">{{ order.financial_status_label }}</div>
                  <div class="rosa-account-commandes-el-item rosa-account-commandes-el-total">{{ order.total_net_amount | money_with_currency }}</div>
                </div>
              {% endfor %}
            {% else %}
              <p class="rosa-account-commandes-el-item-empty">{{ 'customer.orders.none' | t }}</p>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-account.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "text",
      "id": "menu-title-title",
      "label": "MON COMPTE text",
      "default": "MON COMPTE"
    },
    {
      "type": "text",
      "id": "menu-title",
      "label": "INFORMATIONS PERSONNELLES text",
      "default": "INFORMATIONS PERSONNELLES"
    },
    {
      "type": "text",
      "id": "menu-adresses",
      "label": "ADRESSES text",
      "default": "ADRESSES"
    },
    {
      "type": "text",
      "id": "menu-commandes",
      "label": "COMMANDES text",
      "default": "COMMANDES"
    },
    {
      "type": "text",
      "id": "menu-deconnexion",
      "label": "SE DÉCONNECTER text",
      "default": "SE DÉCONNECTER"
    },
    {
      "type": "text",
      "id": "info-title",
      "label": "MES INFORMATIONS PERSONNELLES text",
      "default": "MES INFORMATIONS PERSONNELLES"
    },
    {
      "type": "text",
      "id": "info-modify",
      "label": "MODIFIER text",
      "default": "MODIFIER"
    },
    {
      "type": "text",
      "id": "info-nom",
      "label": "NON text",
      "default": "NOM"
    },
    {
      "type": "text",
      "id": "info-prenom",
      "label": "prenom text",
      "default": "PRÉNOM"
    },
    {
      "type": "text",
      "id": "info-phone",
      "label": " TÉLÉPHONE text",
      "default": "TÉLÉPHONE"
    },
    {
      "type": "text",
      "id": "info-adress",
      "label": " ADRESSE text",
      "default": "ADRESSE"
    },
    {
      "type": "text",
      "id": "password_title",
      "label": " INFORMATIONS DE CONNEXION text",
      "default": "INFORMATIONS DE CONNEXION"
    },
    {
      "type": "text",
      "id": "password_email",
      "label": "ADRESSE EMAIL text",
      "default": "ADRESSE EMAIL"
    },
    {
      "type": "text",
      "id": "password_passworf",
      "label": "MOT DE PASSE text",
      "default": "MOT DE PASSE"
    },
    {
      "type": "text",
      "id": "commandes-title",
      "label": "HISTORIQUE DES COMMANDES text",
      "default": "HISTORIQUE DES COMMANDES"
    },
    {
      "type": "text",
      "id": "commandes-commande",
      "label": "COMMANDE text",
      "default": "COMMANDE"
    },
    {
      "type": "text",
      "id": "commandes-date",
      "label": "DATE text",
      "default": "DATE"
    },
    {
      "type": "text",
      "id": "commandes-status",
      "label": "STATUT DES COMMANDES text",
      "default": "STATUT DES COMMANDES"
    },
    {
      "type": "text",
      "id": "commandes-total",
      "label": "TOTAL text",
      "default": "TOTAL"
    },
    {
      "type": "text",
      "id": "back-text",
      "label": "Retour à mon compte text",
      "default": "Retour à mon compte"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 90
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 160
    }
  ]
}
{% endschema %}
