{% if collection.image %}
  <section class="rosa-collection-banner">
      <picture class="rosa-collection-banner-pic" >
        <source srcset="{{ collection.image | img_url: '1820x840', crop: 'center' }} 1x, {{ collection.image | img_url: '3640x1680', crop: 'center' }} 2x" media="(min-width: 1920px)" />
        <source srcset="{{ collection.image | img_url: '1340x680', crop: 'center' }} 1x, {{ collection.image | img_url: '2680x1360', crop: 'center' }} 2x" media="(min-width: 1440px)" />
        <source srcset="{{ collection.image | img_url: '1100x680', crop: 'center' }} 1x, {{ collection.image | img_url: '2200x1360', crop: 'center' }} 2x" media="(min-width: 1200px)" />
        <source srcset="{{ collection.image | img_url: '920x550', crop: 'center' }} 1x, {{ collection.image | img_url: '1840x1100', crop: 'center' }} 2x" media="(min-width: 960px)" />
        <source srcset="{{ collection.image | img_url: '680x500', crop: 'center' }}" media="(min-width: 720px)" />
        <source srcset="{{ collection.image | img_url: '960x880', crop: 'center' }}" media="(min-width: 480px)" />
        <source srcset="{{ collection.image | img_url: '440x720', crop: 'center' }}" />
        <img src="{{ collection.image | img_url: '360x600', crop: 'center' }}" alt="{{ collection.image.alt }}" loading="lazy" class="rosa-collection-banner-pic"/>
      </picture>

      <div class="rosa-collection-banner-wrapper container">
        <div class="rosa-collection-banner-subtitle">{{ collection.metafields.custom.subtitle }}</div>
        <{{ section.settings.tag }} class="rosa-collection-banner-title">{{- collection.title | escape -}}</{{ section.settings.tag }}>
      </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "tag",
      "label": "title tag",
      "options": [
        {
          "value": "h1",
          "label": "h1"
        },
        {
          "value": "h2",
          "label": "h2"
        },
        {
          "value": "div",
          "label": "none"
        }
      ],
      "default": "div"
    }
  ]
}
{% endschema %}
