<product-recommendations
  class="related-products page-widthisolate"
  data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=4"
>
  <section class="rosa-related-slider">
      <div class="rosa-related-slider-header container">
          <div class="rosa-related-slider-header-info">
              <div class="rosa-related-slider-header-info-text2">{{ section.settings.title1 }}</div>
          </div>
          <div class="rosa-related-slider-header-nav">

              <svg class="rosa-related-slider-header-nav-arrow rosa-related-slider-header-nav-arrow-prev" xmlns="http://www.w3.org/2000/svg" width="18.808" height="14.897" viewBox="0 0 18.808 14.897">
                <g id="Groupe_172" data-name="Groupe 172" transform="translate(0.333 0.373)">
                  <line id="Ligne_4" data-name="Ligne 4" x1="18.474" transform="translate(0 7.076)" fill="none" stroke="#000" stroke-width="1"/>
                  <line id="Ligne_5" data-name="Ligne 5" x1="7.909" y2="7.076" transform="translate(0 0)" fill="none" stroke="#000" stroke-width="1"/>
                  <line id="Ligne_6" data-name="Ligne 6" x2="7.909" y2="7.076" transform="translate(0 7.076)" fill="none" stroke="#000" stroke-width="1"/>
                </g>
              </svg>


              <svg class="rosa-related-slider-header-nav-arrow rosa-related-slider-header-nav-arrow-next" xmlns="http://www.w3.org/2000/svg" width="18.808" height="14.897" viewBox="0 0 18.808 14.897">
                <g id="Groupe_173" data-name="Groupe 173" transform="translate(0 0.373)">
                  <line id="Ligne_4" data-name="Ligne 4" x2="18.474" transform="translate(0 7.076)" fill="none" stroke="#000" stroke-width="1"/>
                  <line id="Ligne_5" data-name="Ligne 5" x2="7.909" y2="7.076" transform="translate(10.565 0)" fill="none" stroke="#000" stroke-width="1"/>
                  <line id="Ligne_6" data-name="Ligne 6" x1="7.909" y2="7.076" transform="translate(10.565 7.076)" fill="none" stroke="#000" stroke-width="1"/>
                </g>
              </svg>
          </div>
      </div>

      <div class="rosa-related-slider-inner">
          {% for recommendation in recommendations.products %}

            <a href="{{ recommendation.url }}" class="rosa-related-slider-item">
                <img src="{{ recommendation.featured_image | img_url: '436x406', crop: 'center' }}" alt="" class="rosa-related-slider-item-pic">
                <div class="rosa-related-slider-item-title">{{ recommendation.title }}</div>
                <div class="rosa-related-slider-item-text">{{ recommendation.vendor }}</div>
                <div class="rosa-related-slider-item-price">{{ recommendation.price | money_without_trailing_zeros }}</div>
                <div class="rosa-related-slider-item-hover">
                  <img src="{{ recommendation.images[1] | img_url: '475x542', crop: 'center' }}" alt="" class="rosa-related-slider-item-pic2">
                  <div  class="rosa-related-slider-item-link">DÉCOUVRIR</div>
                </div>
            </a>

          {% endfor %}
      </div>

  </section>
</product-recommendations>

{% schema %}
{
  "name": "related slider",
  "presets": [
    {
      "name": "related slider",
      "category": "Custom"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title1",
      "label": "title",
      "default": "VOUS ALLEZ AUSSI AIMER :"
    }
  ]
}

{% endschema %}