
{% comment %}

{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'section-related-products.css' | asset_url | stylesheet_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


<div class="color-{{ section.settings.color_scheme }} gradient no-js-hidden">
  <product-recommendations
    class="related-products page-width section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ section.settings.products_to_show }}"
  >
    {% if recommendations.performed and recommendations.products_count > 0 %}
      <h2 class="related-products__heading inline-richtext {{ section.settings.heading_size }}">
        {{ section.settings.heading }}
      </h2>
      <ul
        class="grid product-grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down"
        role="list"
      >
        {% for recommendation in recommendations.products %}
          <li class="grid__item">
            {% render 'card-product',
              card_product: recommendation,
              media_aspect_ratio: section.settings.image_ratio,
              image_shape: section.settings.image_shape,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating
            %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </product-recommendations>
  {% if section.settings.image_shape == 'arch' %}
    {% render 'mask-arch' %}
  {%- endif -%}
</div>

{% endcomment %}

<product-recommendations
  class="related-products page-widthisolate"
  data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=4"
>
  <section class="rosa-related-slider">
      <div class="rosa-related-slider-header container">
          <div class="rosa-related-slider-header-info">
              <div class="rosa-related-slider-header-info-text2">{{ section.settings.title1 }}</div>
          </div>
          <div class="rosa-related-slider-header-nav">

              <svg class="rosa-related-slider-header-nav-arrow rosa-related-slider-header-nav-arrow-prev" xmlns="http://www.w3.org/2000/svg" width="18.808" height="14.897" viewBox="0 0 18.808 14.897">
                <g id="Groupe_172" data-name="Groupe 172" transform="translate(0.333 0.373)">
                  <line id="Ligne_4" data-name="Ligne 4" x1="18.474" transform="translate(0 7.076)" fill="none" stroke="#000" stroke-width="1"/>
                  <line id="Ligne_5" data-name="Ligne 5" x1="7.909" y2="7.076" transform="translate(0 0)" fill="none" stroke="#000" stroke-width="1"/>
                  <line id="Ligne_6" data-name="Ligne 6" x2="7.909" y2="7.076" transform="translate(0 7.076)" fill="none" stroke="#000" stroke-width="1"/>
                </g>
              </svg>


              <svg class="rosa-related-slider-header-nav-arrow rosa-related-slider-header-nav-arrow-next" xmlns="http://www.w3.org/2000/svg" width="18.808" height="14.897" viewBox="0 0 18.808 14.897">
                <g id="Groupe_173" data-name="Groupe 173" transform="translate(0 0.373)">
                  <line id="Ligne_4" data-name="Ligne 4" x2="18.474" transform="translate(0 7.076)" fill="none" stroke="#000" stroke-width="1"/>
                  <line id="Ligne_5" data-name="Ligne 5" x2="7.909" y2="7.076" transform="translate(10.565 0)" fill="none" stroke="#000" stroke-width="1"/>
                  <line id="Ligne_6" data-name="Ligne 6" x1="7.909" y2="7.076" transform="translate(10.565 7.076)" fill="none" stroke="#000" stroke-width="1"/>
                </g>
              </svg>
          </div>
      </div>
      <div class="rosa-related-slider-inner">
          {% for recommendation in recommendations.products %}
            <div class="rosa-related-slider-item">
                <img src="{{ recommendation.featured_image | img_url: '436x406', crop: 'center' }}" alt="" class="rosa-related-slider-item-pic">
                <div class="rosa-related-slider-item-title">{{ recommendation.title }}</div>
                <div class="rosa-related-slider-item-text">{{ recommendation.vendor }}</div>
                <div class="rosa-related-slider-item-price">{{ recommendation.price | money_without_trailing_zeros }}</div>
                <div class="rosa-related-slider-item-hover">
                  <img src="{{ recommendation.images[1] | img_url: '475x542', crop: 'center' }}" alt="" class="rosa-related-slider-item-pic2">
                  <a href="{{ recommendation.url }}" class="rosa-related-slider-item-link">FICHE PRODUIT</a>
                </div>
            </div>
          {% endfor %}
      </div>
  </section>
</product-recommendations>

{% schema %}
{
  "name": "related slider",
  "presets": [
    {
      "name": "related slider",
      "category": "Custom"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title1",
      "label": "title",
      "default": "VOUS ALLEZ AUSSI AIMER :"
    }
  ]
}

{% endschema %}