    <section class="rosa-backgrounded">
        <img src="{{ section.settings.image_mobile | img_url: '2732x1336', crop: 'center' }}" alt="" loading="lazy" class="rosa-backgrounded-pic-mobile">
        <img src="{{ section.settings.image | img_url: '2732x1336', crop: 'center' }}" alt="" loading="lazy" class="rosa-backgrounded-pic">

        <div class="rosa-backgrounded-inner">
            {%- for block in section.blocks -%}
              {% case block.type %}
                {%- when 'heading' -%}
                  <div class="rosa-backgrounded-title">{{ block.settings.heading }}</div>
                {%- when 'text' -%}
                  <div class="rosa-backgrounded-text">{{ block.settings.text }}</div>
                {%- when 'item' -%}
                    <div class="rosa-backgrounded-list-item">{{ block.settings.text }}</div>
                {%- when 'link' -%}
                  <a href="{{ block.settings.link_url }}" class="rosa-backgrounded-link">{{ block.settings.link_text }}</a>
              {%- endcase -%}
            {%- endfor -%}
        </div>
    </section>

{% schema %}
{
  "name": "rosa text this background",
  "presets": [
    {
      "name": "rosa text with background",
      "category": "Custom"
    }
  ],
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "image mobile"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "heading",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image with text",
          "label": "heading 1"
        }
      ]
    },
    {
      "type": "text",
      "name": "text",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "text",
          "label": "text"
        }
      ]
    },
    {
      "type": "item",
      "name": "item",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "text",
          "label": "text"
        }
      ]
    },
    {
      "type": "link",
      "name": "link",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "link_text",
          "default": "link text",
          "label": "link text"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "link url"
        }
      ]
    }
  ]
}

{% endschema %}
