{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="rosa-faq container section-{{ section.id }}-padding">
  <div class="rosa-faq-title">{{ section.settings.title }}</div>
  <div class="rosa-faq-content">
    {%- for block in section.blocks -%}
      <div class="rosa-faq-item">
        <div class="rosa-faq-item-header">
          <div class="rosa-faq-item-header-title">{{ block.settings.title }}</div>
          <svg class="plus" xmlns="http://www.w3.org/2000/svg" width="13" height="28" viewBox="0 0 13 28">
            <text id="Typography" transform="translate(0 22)" font-size="21" font-family="NotoSans-Bold, Noto Sans" font-weight="700"><tspan x="0" y="0">+</tspan></text>
          </svg>
          <svg class="minus" xmlns="http://www.w3.org/2000/svg" width="7" height="28" viewBox="0 0 7 28">
            <text id="Typography" transform="translate(0 22)" font-size="21" font-family="NotoSans-Bold, Noto Sans" font-weight="700"><tspan x="0" y="0">-</tspan></text>
          </svg>
        </div>
        <div class="rosa-faq-item-header-text">{{ block.settings.text }}</div>
      </div>
    {%- endfor -%}
  </div>
</section>

{% schema %}
{
  "name": "rosa faq",
  "presets": [
    {
      "name": "rosa faq",
      "category": "Custom"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "title",
      "default": "title"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 45
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 45
    }
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "faq item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "title",
          "label": "title"
        },
        {
          "type": "text",
          "id": "text",
          "default": "text",
          "label": "text"
        }
      ]
    }
  ]
}

{% endschema %}

