<section class="rosa-subscribe">
    <div class="rosa-subscribe-inner">
        <svg class="rosa-subscribe-icon" width="50" height="36" viewBox="0 0 50 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.28571 1C2.93719 1.04312 2.61593 1.20709 2.38009 1.46224C2.14426 1.71739 2.00942 2.04686 2 2.391V32.984C2.01366 33.3486 2.16759 33.6947 2.43087 33.9527C2.69416 34.2108 3.0473 34.3616 3.41939 34.375H47.4082C47.7803 34.3616 48.1334 34.2108 48.3967 33.9527C48.66 33.6947 48.8139 33.3486 48.8275 32.984V2.391C48.8139 2.02635 48.66 1.68027 48.3967 1.42226C48.1334 1.16424 47.7803 1.01339 47.4082 1H3.28571ZM6.98878 3.781H43.8367L25.4133 20.642L6.98878 3.781ZM4.83775 5.629L17.498 17.21L12.3541 22.251C12.2114 22.3768 12.0962 22.5297 12.0155 22.7004C11.9349 22.8711 11.8904 23.0561 11.8847 23.2441C11.8791 23.4322 11.9124 23.6194 11.9827 23.7944C12.053 23.9695 12.1588 24.1288 12.2937 24.2626C12.4286 24.3964 12.5898 24.502 12.7676 24.5731C12.9453 24.6441 13.1359 24.6791 13.3279 24.6758C13.5198 24.6726 13.7091 24.6312 13.8842 24.5543C14.0594 24.4773 14.2168 24.3663 14.3469 24.228L19.5816 19.1L24.4378 23.555C24.7068 23.7885 25.0538 23.9174 25.4133 23.9174C25.7727 23.9174 26.1197 23.7885 26.3888 23.555L31.2449 19.1C34.2418 22.036 37.7643 25.489 40.7347 28.4C40.8672 28.5284 41.0241 28.6299 41.1966 28.6988C41.3691 28.7677 41.5538 28.8027 41.7401 28.8017C41.9264 28.8007 42.1106 28.7637 42.2823 28.6929C42.454 28.6221 42.6098 28.5188 42.7408 28.389C42.8718 28.2592 42.9754 28.1054 43.0457 27.9363C43.1161 27.7673 43.1517 27.5863 43.1507 27.4037C43.1496 27.2212 43.1119 27.0406 43.0397 26.8723C42.9674 26.704 42.8621 26.5514 42.7296 26.423C39.7878 23.54 36.3082 20.129 33.3286 17.21L45.9888 5.629V31.594H4.83775V5.629ZM9.62755 25.314C9.31646 25.3598 9.02951 25.505 8.81122 25.727L8.09694 26.427C7.83386 26.6915 7.684 27.0445 7.67812 27.4138C7.67224 27.7831 7.81077 28.1406 8.06531 28.413C8.34085 28.6654 8.70459 28.8047 9.08172 28.8022C9.45886 28.7998 9.82071 28.6559 10.0929 28.4L10.8071 27.705C11.0269 27.5024 11.1751 27.2365 11.2301 26.9457C11.2852 26.655 11.2443 26.3547 11.1134 26.0883C10.9825 25.8219 10.7684 25.6033 10.5021 25.4643C10.2358 25.3252 9.93129 25.2729 9.63265 25.315" fill="white"/>
        </svg>

        <div class="rosa-subscribe-title">UNE BOMBE D’AMOUR PAR SEMAINE !</div>
        <div class="rosa-subscribe-subtitle">Connectez vous à la marque par amour, promis #ZeroSpams, que du #bonheur</div>

        {%- form 'customer', id: 'ContactFooter', class: 'rosa-subscribe-form' -%}
          <input type="hidden" name="contact[tags]" value="newsletter">
          <div class="newsletter-form__field-wrapper">
              <input
                id="NewsletterForm--{{ section.id }}"
                type="email"
                name="contact[email]"
                class="rosa-subscribe-input"
                value="{{ form.email }}"
                aria-required="true"
                autocorrect="off"
                autocapitalize="off"
                autocomplete="email"
                {% if form.errors %}
                  autofocus
                  aria-invalid="true"
                  aria-describedby="ContactFooter-error"
                {% elsif form.posted_successfully? %}
                  aria-describedby="ContactFooter-success"
                {% endif %}
                placeholder="{{ 'newsletter.label' | t }}"
                required
              >
              <button
                type="submit"
                class="rosa-subscribe-submit"
                name="commit"
                id="Subscribe"
                aria-label="{{ 'newsletter.button_label' | t }}"
              >
                  <svg xmlns="http://www.w3.org/2000/svg" width="24.771" height="19.465" viewBox="0 0 24.771 19.465">
                    <g id="Groupe_91" data-name="Groupe 91" transform="translate(0 0.373)">
                      <line id="Ligne_4" data-name="Ligne 4" x2="24.438" transform="translate(0 9.36)" fill="none" stroke="#fff" stroke-width="1"/>
                      <line id="Ligne_5" data-name="Ligne 5" x2="10.462" y2="9.36" transform="translate(13.975)" fill="none" stroke="#fff" stroke-width="1"/>
                      <line id="Ligne_6" data-name="Ligne 6" x1="10.462" y2="9.36" transform="translate(13.975 9.36)" fill="none" stroke="#fff" stroke-width="1"/>
                    </g>
                  </svg>
              </button>
            {%- if form.errors -%}
              <small class="newsletter-form__message form__message" id="ContactFooter-error">
                {%- render 'icon-error' -%}
                {{- form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email -}}
              </small>
            {%- endif -%}
          </div>
          {%- if form.posted_successfully? -%}
            <h3
              class="newsletter-form__message newsletter-form__message--success form__message"
              id="ContactFooter-success"
              tabindex="-1"
              autofocus
            >
              {% render 'icon-success' -%}
              {{- 'newsletter.success' | t }}
            </h3>
          {%- endif -%}
        {%- endform -%}

    </div>
</section>



{% schema %}
{
  "name": "rosa subscribe",
  "presets": [
    {
      "name": "rosa subscribe",
      "category": "Custom"
    }
  ]
}
{% endschema %}
