{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="rosa-quote2 container section-{{ section.id }}-padding">
    <{{ section.settings.tag }} class="rosa-quote2-text">{{ section.settings.text1 }}</{{ section.settings.tag }}>
    <div class="rosa-quote2-text2">{{ section.settings.text2 }}</div>
</section>

{% schema %}
{
  "name": "rosa quote 2",
  "presets": [
    {
      "name": "rosa quote 2",
      "category": "Custom"
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "tag",
      "label": "title tag",
      "options": [
        {
          "value": "h1",
          "label": "h1"
        },
        {
          "value": "h2",
          "label": "h2"
        },
        {
          "value": "div",
          "label": "none"
        }
      ],
      "default": "div"
    },
    {
      "type": "text",
      "id": "text1",
      "label": "text 1",
      "default": "text 1"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "text 2",
      "default": "text 2"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 45
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 45
    }
  ]
}

{% endschema %}
